<a href="https://colab.research.google.com/github/hasune613/hello/blob/main/try_SQL100knock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# データサイエンス100本ノック（構造化データ加工編） - SQL

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## はじめに
- データベースはPostgreSQL13です
- 初めに以下のセルを実行してください
- セルに %%sql と記載することでSQLを発行することができます
- jupyterからはdescribeコマンドによるテーブル構造の確認ができないため、テーブル構造を確認する場合はlimitを指定したSELECTなどで代用してください
- 使い慣れたSQLクライアントを使っても問題ありません（接続情報は以下の通り）
  - IPアドレス：Docker Desktopの場合はlocalhost、Docker toolboxの場合は192.168.99.100
  - Port:5432
  - database名: dsdojo_db
  - ユーザ名：padawan
  - パスワード:padawan12345
- 大量出力を行うとJupyterが固まることがあるため、出力件数は制限することを推奨します（設問にも出力件数を記載）
    - 結果確認のために表示させる量を適切にコントロールし、作業を軽快にすすめる技術もデータ加工には求められます
- 大量結果が出力された場合は、ファイルが重くなり以降開けなくなることもあります
    - その場合、作業結果は消えますがファイルをGitHubから取り直してください
    - vimエディタなどで大量出力範囲を削除することもできます
- 名前、住所等はダミーデータであり、実在するものではありません

In [ ]:
#環境構築用のセル
!sudo cat > /etc/apt/sources.list.d/pgdg.list <<< "deb http://apt.postgresql.org/pub/repos/apt/ $(lsb_release -cs)-pgdg main"
!sudo curl https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql-13
!sudo pg_ctlcluster 13 main start

!sudo -u postgres psql -U postgres -c "create database dsdojo_db;"
!sudo -u postgres psql -U postgres -c "create user padwan with superuser;"
!sudo -u postgres psql -U postgres -c "alter user padwan password 'padwan12345';"
!sudo -u postgres psql -U postgres -c "grant all privileges on database dsdojo_db to padwan;"
!sudo -u postgres psql -U postgres -c "grant pg_read_server_files to padwan;"
!sudo -u postgres psql -U postgres -c "grant pg_write_server_files to padwan;"

!sudo -u postgres psql -U postgres -d dsdojo_db -c "create table customer(customer_id VARCHAR(14), customer_name VARCHAR(20), gender_cd VARCHAR(1), gender VARCHAR(2), birth_day DATE, age INTEGER, postal_cd VARCHAR(8), address VARCHAR(128), application_store_cd VARCHAR(6), application_date VARCHAR(8), status_cd VARCHAR(12), primary key (customer_id));create table category( category_major_cd VARCHAR(2), category_major_name VARCHAR(32), category_medium_cd VARCHAR(4), category_medium_name VARCHAR(32), category_small_cd VARCHAR(6), category_small_name VARCHAR(32), primary key (category_small_cd));create table product( product_cd VARCHAR(10), category_major_cd VARCHAR(2), category_medium_cd VARCHAR(4), category_small_cd VARCHAR(6), unit_price INTEGER, unit_cost INTEGER, primary key (product_cd));create table store( store_cd VARCHAR(6), store_name VARCHAR(128), prefecture_cd VARCHAR(2), prefecture VARCHAR(5), address VARCHAR(128), address_kana VARCHAR(128), tel_no VARCHAR(20), longitude NUMERIC, latitude NUMERIC, floor_area NUMERIC, primary key (store_cd));create table receipt( sales_ymd INTEGER, sales_epoch INTEGER, store_cd VARCHAR(6), receipt_no SMALLINT, receipt_sub_no SMALLINT, customer_id VARCHAR(14), product_cd VARCHAR(10), quantity INTEGER, amount INTEGER, primary key (sales_ymd, store_cd, receipt_no, receipt_sub_no));create table geocode( postal_cd VARCHAR(8), prefecture VARCHAR(4), city VARCHAR(30), town VARCHAR(30), street VARCHAR(30), address VARCHAR(30), full_address VARCHAR(80), longitude NUMERIC, latitude NUMERIC);"

!sudo mkdir -p /tmp/data/100knock-preprocess
!sudo chmod -R 777 /tmp/data

table_names = ('customer', 'category', 'product', 'receipt', 'store', 'geocode')
base = "/tmp/data/100knock-preprocess/"
baseurl = "https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/"
for table_name in table_names:
   CURLCMD="curl -o "+base+table_name+".csv "+baseurl+table_name+".csv"
   !sudo -u postgres $CURLCMD
   COPYCMD="\copy "+table_name+" from '"+base+table_name+".csv' encoding 'utf8' csv header;"
   !sudo -u postgres psql -U postgres -d dsdojo_db -c "$COPYCMD"

%load_ext sql
%config SqlMagic.autopandas = True
%sql postgresql://padwan:padwan12345@localhost:5432/dsdojo_db

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  4812  100  4812    0     0   6331      0 --:--:-- --:--:-- --:--:--  6323
OK
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 16.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package cron.
(Reading database ... 155680 files and directories currently installed.)
Preparing to unpack .../00-cron_3.0pl1-128.1ubuntu1.2_amd64.deb ...
Unpacking cron (3.0pl1-128.1ubuntu1.2) ...
Selecting previously unselected package logrotate.
Preparing to unpack .../01-logrotate_3.11.0-0.1ubuntu1_amd64.deb ...
Unpacking logrotate (3.11.0-0.1ubuntu1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../02-netbase_5.4_all.deb ...
Unpacking netbase (5.4) ...
Selecting previously unselected package libcommon-sense-perl.
Preparing to unpack .../03-libcommon-sense-perl_3.74-2build2_amd64.deb ...
Unpacking libcommon-sense-perl (3.74-2build2) ...
Selecting previously unselected package libjson-perl.
Preparing to unpack .../04-libjson-perl_2.97001-1_all.deb ...
Unpacking libjson-perl (2.97001-1) ...
Selecting previously unselected package libtypes-serialiser-perl.
Preparing to unpack .../05-libtypes-serialiser-perl_1.0-1_all.deb ...
Unpacking libtypes-serialiser-perl (1.0-1) ...
Selecting previously unselected package libjson-xs-perl.
Preparing to unpack .../06-libjson-xs-perl_3.040-1_amd64.deb ...
Unpacking libjson-xs-perl (3.040-1) ...
Preparing to unpack .../07-libpq-dev_14.5-1.pgdg18.04+1_amd64.deb ...
Unpacking libpq-dev (14.5-1.pgdg18.04+1) over (10.21-0ubuntu0.18.04.1) ...
Preparing to unpack .../08-libpq5_14.5-1.pgdg18.04+1_amd64.deb ...
Unpacking libpq5:amd64 (14.5-1.pgdg18.04+1) over (10.21-0ubuntu0.18.04.1) ...
Selecting previously unselected package pgdg-keyring.
Preparing to unpack .../09-pgdg-keyring_2018.2_all.deb ...
Unpacking pgdg-keyring (2018.2) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../10-postgresql-client-common_242.pgdg18.04+1_all.deb ...
Unpacking postgresql-client-common (242.pgdg18.04+1) ...
Selecting previously unselected package postgresql-client-13.
Preparing to unpack .../11-postgresql-client-13_13.8-1.pgdg18.04+1_amd64.deb ...
Unpacking postgresql-client-13 (13.8-1.pgdg18.04+1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../12-ssl-cert_1.0.39_all.deb ...
Unpacking ssl-cert (1.0.39) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../13-postgresql-common_242.pgdg18.04+1_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (242.pgdg18.04+1) ...
Selecting previously unselected package postgresql-13.
Preparing to unpack .../14-postgresql-13_13.8-1.pgdg18.04+1_amd64.deb ...
Unpacking postgresql-13 (13.8-1.pgdg18.04+1) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../15-sysstat_11.6.1-1ubuntu0.1_amd64.deb ...
Unpacking sysstat (11.6.1-1ubuntu0.1) ...
Setting up libcommon-sense-perl (3.74-2build2) ...
Setting up sysstat (11.6.1-1ubuntu0.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up ssl-cert (1.0.39) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Setting up libtypes-serialiser-perl (1.0-1) ...
Setting up libpq5:amd64 (14.5-1.pgdg18.04+1) ...
Setting up pgdg-keyring (2018.2) ...
Removing apt.postgresql.org key from trusted.gpg: OK
Setting up libjson-perl (2.97001-1) ...
Setting up cron (3.0pl1-128.1ubuntu1.2) ...
Adding group `crontab' (GID 110) ...
Done.
Created symlink /etc/systemd/system/multi-user.target.wants/cron.service → /lib/systemd/system/cron.service.
update-rc.d: warning: start and stop actions are no longer supported; falling back to defaults
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up logrotate (3.11.0-0.1ubuntu1) ...
Setting up netbase (5.4) ...
Setting up libpq-dev (14.5-1.pgdg18.04+1) ...
Setting up libjson-xs-perl (3.040-1) ...
Setting up postgresql-client-common (242.pgdg18.04+1) ...
Setting up postgresql-common (242.pgdg18.04+1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
Setting up postgresql-client-13 (13.8-1.pgdg18.04+1) ...
update-alternatives: using /usr/share/postgresql/13/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-13 (13.8-1.pgdg18.04+1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Creating new PostgreSQL cluster 13/main ...
/usr/lib/postgresql/13/bin/initdb -D /var/lib/postgresql/13/main --auth-local peer --auth-host md5
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/13/main ... ok
creating subdirectories ... ok
selecting dynamic shared memory implementation ... posix
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default time zone ... Etc/UTC
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok

Success. You can now start the database server using:

    pg_ctlcluster 13 main start

update-alternatives: using /usr/share/postgresql/13/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Processing triggers for libc-bin (2.27-3ubuntu1.5) ...
Processing triggers for systemd (237-3ubuntu10.53) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
CREATE DATABASE
CREATE ROLE
ALTER ROLE
GRANT
GRANT ROLE
GRANT ROLE
CREATE TABLE
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 2825k  100 2825k    0     0  5054k      0 --:--:-- --:--:-- --:--:-- 5054k
COPY 21971
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 12882  100 12882    0     0  79518      0 --:--:-- --:--:-- --:--:-- 79518
COPY 228
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  341k  100  341k    0     0  1777k      0 --:--:-- --:--:-- --:--:-- 1777k
COPY 10030
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 6726k  100 6726k    0     0  9863k      0 --:--:-- --:--:-- --:--:-- 9863k
COPY 104681
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  9472  100  9472    0     0  57756      0 --:--:-- --:--:-- --:--:-- 57756
COPY 53
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 12.2M  100 12.2M    0     0  13.7M      0 --:--:-- --:--:-- --:--:-- 13.7M
COPY 127252

'Connected: padwan@dsdojo_db'

# 使い方
- セルの先頭に%%sqlと記載し、２行目以降にSQLを記述することでJupyterからPostgreSQLに対しSQLを実行できます。

In [ ]:
%%sql
SELECT 'このように実行できます' AS sample;

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

        sample
0  このように実行できます

# データ加工100本ノック

---
> S-001: レシート明細データ（receipt）から全項目の先頭10件を表示し、どのようなデータを保有しているか目視で確認せよ。

In [ ]:
%%sql
SELECT * FROM receipt LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

,sales_ymd,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount
0,20181103,1541203200,S14006,112,1,CS006214000001,P070305012,1,158
1,20181118,1542499200,S13008,1132,2,CS008415000097,P070701017,1,81
2,20170712,1499817600,S14028,1102,1,CS028414000014,P060101005,1,170
3,20190205,1549324800,S14042,1132,1,ZZ000000000000,P050301001,1,25
4,20180821,1534809600,S14025,1102,2,CS025415000050,P060102007,1,90
5,20190605,1559692800,S13003,1112,1,CS003515000195,P050102002,1,138
6,20181205,1543968000,S14024,1102,2,CS024514000042,P080101005,1,30
7,20190922,1569110400,S14040,1102,1,CS040415000178,P070501004,1,128
8,20170504,1493856000,S13020,1112,2,ZZ000000000000,P071302010,1,770
9,20191010,1570665600,S14027,1102,1,CS027514000015,P071101003,1,680

---
> S-002: レシート明細データ（receipt）から売上年月日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示せよ。

In [ ]:
%%sql
SELECT sales_ymd, customer_id, product_cd, amount FROM receipt LIMIT 10;

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

   sales_ymd     customer_id  product_cd  amount
0   20181103  CS006214000001  P070305012     158
1   20181118  CS008415000097  P070701017      81
2   20170712  CS028414000014  P060101005     170
3   20190205  ZZ000000000000  P050301001      25
4   20180821  CS025415000050  P060102007      90
5   20190605  CS003515000195  P050102002     138
6   20181205  CS024514000042  P080101005      30
7   20190922  CS040415000178  P070501004     128
8   20170504  ZZ000000000000  P071302010     770
9   20191010  CS027514000015  P071101003     680

---
> S-003: レシート明細データ（receipt）から売上年月日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、10件表示せよ。ただし、sales_ymdはsales_dateに項目名を変更しながら抽出すること。

In [ ]:
%%sql

SELECT sales_ymd AS sales_date,
       customer_id
       product_cd,
       amount
FROM receipt
LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

   sales_date      product_cd  amount
0    20181103  CS006214000001     158
1    20181118  CS008415000097      81
2    20170712  CS028414000014     170
3    20190205  ZZ000000000000      25
4    20180821  CS025415000050      90
5    20190605  CS003515000195     138
6    20181205  CS024514000042      30
7    20190922  CS040415000178     128
8    20170504  ZZ000000000000     770
9    20191010  CS027514000015     680

---
> S-004: レシート明細データ（receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"

In [ ]:
%%sql

SELECT
    sales_ymd,
    customer_id,
    product_cd,
    amount
FROM
    receipt
WHERE
    customer_id ='CS018205000001';

 * postgresql://padwan:***@localhost:5432/dsdojo_db
12 rows affected.

    sales_ymd     customer_id  product_cd  amount
0    20180911  CS018205000001  P071401012    2200
1    20180414  CS018205000001  P060104007     600
2    20170614  CS018205000001  P050206001     990
3    20170614  CS018205000001  P060702015     108
4    20190216  CS018205000001  P071005024     102
5    20180414  CS018205000001  P071101002     278
6    20190226  CS018205000001  P070902035     168
7    20190924  CS018205000001  P060805001     495
8    20190226  CS018205000001  P071401020    2200
9    20180911  CS018205000001  P071401005    1100
10   20190216  CS018205000001  P040101002     218
11   20190924  CS018205000001  P091503001     280

---
> S-005: レシート明細データ（receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上

In [ ]:
%%sql

SELECT sales_ymd,customer_id,product_cd,amount
FROM receipt
WHERE customer_id ='CS018205000001'
AND amount >= 1000;

 * postgresql://padwan:***@localhost:5432/dsdojo_db
3 rows affected.

   sales_ymd     customer_id  product_cd  amount
0   20180911  CS018205000001  P071401012    2200
1   20190226  CS018205000001  P071401020    2200
2   20180911  CS018205000001  P071401005    1100

---
> S-006: レシート明細データ（receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [ ]:
%%sql

SELECT sales_ymd,customer_id,product_cd,quantity,amount
FROM receipt
WHERE customer_id ='CS018205000001'
AND( amount >= 1000 OR quantity >= 5)
;

 * postgresql://padwan:***@localhost:5432/dsdojo_db
5 rows affected.

   sales_ymd     customer_id  product_cd  quantity  amount
0   20180911  CS018205000001  P071401012         1    2200
1   20180414  CS018205000001  P060104007         6     600
2   20170614  CS018205000001  P050206001         5     990
3   20190226  CS018205000001  P071401020         1    2200
4   20180911  CS018205000001  P071401005         1    1100

---
> S-007: レシート明細データ（receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上2,000以下

In [ ]:
%%sql

SELECT sales_ymd,customer_id,product_cd,amount
FROM receipt
WHERE customer_id = 'CS018205000001'
AND amount BETWEEN 1000 AND 2000

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

   sales_ymd     customer_id  product_cd  amount
0   20180911  CS018205000001  P071401005    1100

---
> S-008: レシート明細データ（receipt）から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上金額（amount）の順に列を指定し、以下の全ての条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 商品コード（product_cd）が"P071401019"以外

In [ ]:
%%sql

SELECT sales_ymd,customer_id,product_cd,amount
FROM receipt
WHERE customer_id = 'CS018205000001'
AND product_cd != 'P071401019'

 * postgresql://padwan:***@localhost:5432/dsdojo_db
12 rows affected.

    sales_ymd     customer_id  product_cd  amount
0    20180911  CS018205000001  P071401012    2200
1    20180414  CS018205000001  P060104007     600
2    20170614  CS018205000001  P050206001     990
3    20170614  CS018205000001  P060702015     108
4    20190216  CS018205000001  P071005024     102
5    20180414  CS018205000001  P071101002     278
6    20190226  CS018205000001  P070902035     168
7    20190924  CS018205000001  P060805001     495
8    20190226  CS018205000001  P071401020    2200
9    20180911  CS018205000001  P071401005    1100
10   20190216  CS018205000001  P040101002     218
11   20190924  CS018205000001  P091503001     280

---
> S-009: 以下の処理において、出力結果を変えずにORをANDに書き換えよ。
>
> `SELECT * FROM store WHERE NOT (prefecture_cd = '13' OR floor_area > 900)`

In [ ]:
%%sql
SELECT*
FROM store WHERE prefecture_cd !='13' AND floor_area <= 900

 * postgresql://padwan:***@localhost:5432/dsdojo_db
3 rows affected.

,store_cd,store_name,prefecture_cd,prefecture,address,address_kana,tel_no,longitude,latitude,floor_area
0,S14046,北山田店,14,神奈川県,神奈川県横浜市都筑区北山田一丁目,カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ,045-123-4049,139.5916,35.56189,831.0
1,S14011,日吉本町店,14,神奈川県,神奈川県横浜市港北区日吉本町四丁目,カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ,045-123-4033,139.6316,35.54655,890.0
2,S12013,習志野店,12,千葉県,千葉県習志野市芝園一丁目,チバケンナラシノシシバゾノイッチョウメ,047-123-4002,140.022,35.66122,808.0

---
> S-010: 店舗データ（store）から、店舗コード（store_cd）が"S14"で始まるものだけ全項目抽出し、10件表示せよ。

In [ ]:
%%sql

SELECT*
FROM store
WHERE store_cd LIKE 'S14%'
LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

,store_cd,store_name,prefecture_cd,prefecture,address,address_kana,tel_no,longitude,latitude,floor_area
0,S14010,菊名店,14,神奈川県,神奈川県横浜市港北区菊名一丁目,カナガワケンヨコハマシコウホククキクナイッチョウメ,045-123-4032,139.6326,35.50049,1732.0
1,S14033,阿久和店,14,神奈川県,神奈川県横浜市瀬谷区阿久和西一丁目,カナガワケンヨコハマシセヤクアクワニシイッチョウメ,045-123-4043,139.4961,35.45918,1495.0
2,S14036,相模原中央店,14,神奈川県,神奈川県相模原市中央二丁目,カナガワケンサガミハラシチュウオウニチョウメ,042-123-4045,139.3716,35.57327,1679.0
3,S14040,長津田店,14,神奈川県,神奈川県横浜市緑区長津田みなみ台五丁目,カナガワケンヨコハマシミドリクナガツタミナミダイゴチョウメ,045-123-4046,139.4994,35.52398,1548.0
4,S14050,阿久和西店,14,神奈川県,神奈川県横浜市瀬谷区阿久和西一丁目,カナガワケンヨコハマシセヤクアクワニシイッチョウメ,045-123-4053,139.4961,35.45918,1830.0
5,S14028,二ツ橋店,14,神奈川県,神奈川県横浜市瀬谷区二ツ橋町,カナガワケンヨコハマシセヤクフタツバシチョウ,045-123-4042,139.4963,35.46304,1574.0
6,S14012,本牧和田店,14,神奈川県,神奈川県横浜市中区本牧和田,カナガワケンヨコハマシナカクホンモクワダ,045-123-4034,139.6582,35.42156,1341.0
7,S14046,北山田店,14,神奈川県,神奈川県横浜市都筑区北山田一丁目,カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ,045-123-4049,139.5916,35.56189,831.0
8,S14022,逗子店,14,神奈川県,神奈川県逗子市逗子一丁目,カナガワケンズシシズシイッチョウメ,046-123-4036,139.5789,35.29642,1838.0
9,S14011,日吉本町店,14,神奈川県,神奈川県横浜市港北区日吉本町四丁目,カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ,045-123-4033,139.6316,35.54655,890.0

---
> S-011: 顧客データ（customer）から顧客ID（customer_id）の末尾が1のものだけ全項目抽出し、10件表示せよ。

In [ ]:
%%sql
SELECT*FROM customer WHERE customer_id LIKE '%1' LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
0,CS037613000071,六角 雅彦,9,不明,1952-04-01,66,136-0076,東京都江東区南砂**********,S13037,20150414,0-00000000-0
1,CS028811000001,堀井 かおり,1,女性,1933-03-27,86,245-0016,神奈川県横浜市泉区和泉町**********,S14028,20160115,0-00000000-0
2,CS040412000191,川井 郁恵,1,女性,1977-01-05,42,226-0021,神奈川県横浜市緑区北八朔町**********,S14040,20151101,1-20091025-4
3,CS028314000011,小菅 あおい,1,女性,1983-11-26,35,246-0038,神奈川県横浜市瀬谷区宮沢**********,S14028,20151123,1-20080426-5
4,CS039212000051,藤島 恵梨香,1,女性,1997-02-03,22,166-0001,東京都杉並区阿佐谷北**********,S13039,20171121,1-20100215-4
5,CS015412000111,松居 奈月,1,女性,1972-10-04,46,136-0071,東京都江東区亀戸**********,S13015,20150629,0-00000000-0
6,CS004702000041,野島 洋,0,男性,1943-08-24,75,176-0022,東京都練馬区向山**********,S13004,20170218,0-00000000-0
7,CS041515000001,栗田 千夏,1,女性,1967-01-02,52,206-0001,東京都多摩市和田**********,S13041,20160422,E-20100803-F
8,CS029313000221,北条 ひかり,1,女性,1987-06-19,31,279-0011,千葉県浦安市美浜**********,S12029,20180810,0-00000000-0
9,CS034312000071,望月 奈央,1,女性,1980-09-20,38,213-0026,神奈川県川崎市高津区久末**********,S14034,20160106,0-00000000-0

---
> S-012: 店舗データ（store）から、住所 (address) に"横浜市"が含まれるものだけ全項目表示せよ。

In [ ]:
%%sql
SELECT* FROM store WHERE address LIKE '%横浜市%'

 * postgresql://padwan:***@localhost:5432/dsdojo_db
11 rows affected.

,store_cd,store_name,prefecture_cd,prefecture,address,address_kana,tel_no,longitude,latitude,floor_area
0,S14010,菊名店,14,神奈川県,神奈川県横浜市港北区菊名一丁目,カナガワケンヨコハマシコウホククキクナイッチョウメ,045-123-4032,139.6326,35.50049,1732.0
1,S14033,阿久和店,14,神奈川県,神奈川県横浜市瀬谷区阿久和西一丁目,カナガワケンヨコハマシセヤクアクワニシイッチョウメ,045-123-4043,139.4961,35.45918,1495.0
2,S14040,長津田店,14,神奈川県,神奈川県横浜市緑区長津田みなみ台五丁目,カナガワケンヨコハマシミドリクナガツタミナミダイゴチョウメ,045-123-4046,139.4994,35.52398,1548.0
3,S14050,阿久和西店,14,神奈川県,神奈川県横浜市瀬谷区阿久和西一丁目,カナガワケンヨコハマシセヤクアクワニシイッチョウメ,045-123-4053,139.4961,35.45918,1830.0
4,S14028,二ツ橋店,14,神奈川県,神奈川県横浜市瀬谷区二ツ橋町,カナガワケンヨコハマシセヤクフタツバシチョウ,045-123-4042,139.4963,35.46304,1574.0
5,S14012,本牧和田店,14,神奈川県,神奈川県横浜市中区本牧和田,カナガワケンヨコハマシナカクホンモクワダ,045-123-4034,139.6582,35.42156,1341.0
6,S14046,北山田店,14,神奈川県,神奈川県横浜市都筑区北山田一丁目,カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ,045-123-4049,139.5916,35.56189,831.0
7,S14011,日吉本町店,14,神奈川県,神奈川県横浜市港北区日吉本町四丁目,カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ,045-123-4033,139.6316,35.54655,890.0
8,S14048,中川中央店,14,神奈川県,神奈川県横浜市都筑区中川中央二丁目,カナガワケンヨコハマシツヅキクナカガワチュウオウニチョウメ,045-123-4051,139.5758,35.54912,1657.0
9,S14042,新山下店,14,神奈川県,神奈川県横浜市中区新山下二丁目,カナガワケンヨコハマシナカクシンヤマシタニチョウメ,045-123-4047,139.6593,35.43894,1044.0
10,S14006,葛が谷店,14,神奈川県,神奈川県横浜市都筑区葛が谷,カナガワケンヨコハマシツヅキククズガヤ,045-123-4031,139.5633,35.53573,1886.0

---
> S-013: 顧客データ（customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まるデータを全項目抽出し、10件表示せよ。

In [ ]:
%%sql
SELECT* FROM customer WHERE status_cd ~'^[A-F]' LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
0,CS031415000172,宇多田 貴美子,1,女性,1976-10-04,42,151-0053,東京都渋谷区代々木**********,S13031,20150529,D-20100325-C
1,CS015414000103,奥野 陽子,1,女性,1977-08-09,41,136-0073,東京都江東区北砂**********,S13015,20150722,B-20100609-B
2,CS011215000048,芦田 沙耶,1,女性,1992-02-01,27,223-0062,神奈川県横浜市港北区日吉本町**********,S14011,20150228,C-20100421-9
3,CS029415000023,梅田 里穂,1,女性,1976-01-17,43,279-0043,千葉県浦安市富士見**********,S12029,20150610,D-20100918-E
4,CS035415000029,寺沢 真希,9,不明,1977-09-27,41,158-0096,東京都世田谷区玉川台**********,S13035,20141220,F-20101029-F
5,CS031415000106,宇野 由美子,1,女性,1970-02-26,49,151-0053,東京都渋谷区代々木**********,S13031,20150201,F-20100511-E
6,CS029215000025,石倉 美帆,1,女性,1993-09-28,25,279-0022,千葉県浦安市今川**********,S12029,20150708,B-20100820-C
7,CS033605000005,猪股 雄太,0,男性,1955-12-05,63,246-0031,神奈川県横浜市瀬谷区瀬谷**********,S14033,20150425,F-20100917-E
8,CS033415000229,板垣 菜々美,1,女性,1977-11-07,41,246-0021,神奈川県横浜市瀬谷区二ツ橋町**********,S14033,20150712,F-20100326-E
9,CS008415000145,黒谷 麻緒,1,女性,1977-06-27,41,157-0067,東京都世田谷区喜多見**********,S13008,20150829,F-20100622-F

---
> S-014: 顧客データ（customer）から、ステータスコード（status_cd）の末尾が数字の1〜9で終わるデータを全項目抽出し、10件表示せよ。

In [ ]:
%%sql
SELECT* FROM customer WHERE status_cd ~'[1-9]$' LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
0,CS001215000145,田崎 美紀,1,女性,1995-03-29,24,144-0055,東京都大田区仲六郷**********,S13001,20170605,6-20090929-2
1,CS033513000180,安斎 遥,1,女性,1962-07-11,56,241-0823,神奈川県横浜市旭区善部町**********,S14033,20150728,6-20080506-5
2,CS011215000048,芦田 沙耶,1,女性,1992-02-01,27,223-0062,神奈川県横浜市港北区日吉本町**********,S14011,20150228,C-20100421-9
3,CS040412000191,川井 郁恵,1,女性,1977-01-05,42,226-0021,神奈川県横浜市緑区北八朔町**********,S14040,20151101,1-20091025-4
4,CS009315000023,皆川 文世,1,女性,1980-04-15,38,154-0012,東京都世田谷区駒沢**********,S13009,20150319,5-20080322-1
5,CS015315000033,福士 璃奈子,1,女性,1983-03-17,36,135-0043,東京都江東区塩浜**********,S13015,20141024,4-20080219-3
6,CS023513000066,神戸 そら,1,女性,1961-12-17,57,210-0005,神奈川県川崎市川崎区東田町**********,S14023,20150915,5-20100524-9
7,CS035513000134,市川 美帆,1,女性,1960-03-27,59,156-0053,東京都世田谷区桜**********,S13035,20150227,8-20100711-9
8,CS001515000263,高松 夏空,1,女性,1962-11-09,56,144-0051,東京都大田区西蒲田**********,S13001,20160812,1-20100804-1
9,CS040314000027,鶴田 きみまろ,9,不明,1986-03-26,33,226-0027,神奈川県横浜市緑区長津田**********,S14040,20150122,2-20080426-4

---
> S-015: 顧客データ（customer）から、ステータスコード（status_cd）の先頭がアルファベットのA〜Fで始まり、末尾が数字の1〜9で終わるデータを全項目抽出し、10件表示せよ。

In [ ]:
%%sql
SELECT*
FROM customer WHERE status_cd ~'^[A-F].*[1-9]$' LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
0,CS011215000048,芦田 沙耶,1,女性,1992-02-01,27,223-0062,神奈川県横浜市港北区日吉本町**********,S14011,20150228,C-20100421-9
1,CS022513000105,島村 貴美子,1,女性,1962-03-12,57,249-0002,神奈川県逗子市山の根**********,S14022,20150320,A-20091115-7
2,CS001515000096,水野 陽子,9,不明,1960-11-29,58,144-0053,東京都大田区蒲田本町**********,S13001,20150614,A-20100724-7
3,CS013615000053,西脇 季衣,1,女性,1953-10-18,65,261-0026,千葉県千葉市美浜区幕張西**********,S12013,20150128,B-20100329-6
4,CS020412000161,小宮 薫,1,女性,1974-05-21,44,174-0042,東京都板橋区東坂下**********,S13020,20150822,B-20081021-3
5,CS001215000097,竹中 あさみ,1,女性,1990-07-25,28,146-0095,東京都大田区多摩川**********,S13001,20170315,A-20100211-2
6,CS035212000007,内村 恵梨香,1,女性,1990-12-04,28,152-0023,東京都目黒区八雲**********,S13035,20151013,B-20101018-6
7,CS002515000386,野田 コウ,1,女性,1963-05-30,55,185-0013,東京都国分寺市西恋ケ窪**********,S13002,20160410,C-20100127-8
8,CS001615000372,稲垣 寿々花,1,女性,1956-10-29,62,144-0035,東京都大田区南蒲田**********,S13001,20170403,A-20100104-1
9,CS032512000121,松井 知世,1,女性,1962-09-04,56,210-0011,神奈川県川崎市川崎区富士見**********,S13032,20150727,A-20100103-5

---
> S-016: 店舗データ（store）から、電話番号（tel_no）が3桁-3桁-4桁のデータを全項目表示せよ。

In [ ]:
%%sql
SELECT* FROM store WHERE tel_no ~'^[0-9]{3}-[0-9]{3}-[0-9]{4}$'

 * postgresql://padwan:***@localhost:5432/dsdojo_db
34 rows affected.

,store_cd,store_name,prefecture_cd,prefecture,address,address_kana,tel_no,longitude,latitude,floor_area
0,S12014,千草台店,12,千葉県,千葉県千葉市稲毛区千草台一丁目,チバケンチバシイナゲクチグサダイイッチョウメ,043-123-4003,140.118,35.63559,1698.0
1,S13002,国分寺店,13,東京都,東京都国分寺市本多二丁目,トウキョウトコクブンジシホンダニチョウメ,042-123-4008,139.4802,35.70566,1735.0
2,S14010,菊名店,14,神奈川県,神奈川県横浜市港北区菊名一丁目,カナガワケンヨコハマシコウホククキクナイッチョウメ,045-123-4032,139.6326,35.50049,1732.0
3,S14033,阿久和店,14,神奈川県,神奈川県横浜市瀬谷区阿久和西一丁目,カナガワケンヨコハマシセヤクアクワニシイッチョウメ,045-123-4043,139.4961,35.45918,1495.0
4,S14036,相模原中央店,14,神奈川県,神奈川県相模原市中央二丁目,カナガワケンサガミハラシチュウオウニチョウメ,042-123-4045,139.3716,35.57327,1679.0
5,S14040,長津田店,14,神奈川県,神奈川県横浜市緑区長津田みなみ台五丁目,カナガワケンヨコハマシミドリクナガツタミナミダイゴチョウメ,045-123-4046,139.4994,35.52398,1548.0
6,S14050,阿久和西店,14,神奈川県,神奈川県横浜市瀬谷区阿久和西一丁目,カナガワケンヨコハマシセヤクアクワニシイッチョウメ,045-123-4053,139.4961,35.45918,1830.0
7,S13052,森野店,13,東京都,東京都町田市森野三丁目,トウキョウトマチダシモリノサンチョウメ,042-123-4030,139.4383,35.55293,1087.0
8,S14028,二ツ橋店,14,神奈川県,神奈川県横浜市瀬谷区二ツ橋町,カナガワケンヨコハマシセヤクフタツバシチョウ,045-123-4042,139.4963,35.46304,1574.0
9,S14012,本牧和田店,14,神奈川県,神奈川県横浜市中区本牧和田,カナガワケンヨコハマシナカクホンモクワダ,045-123-4034,139.6582,35.42156,1341.0
10,S14046,北山田店,14,神奈川県,神奈川県横浜市都筑区北山田一丁目,カナガワケンヨコハマシツヅキクキタヤマタイッチョウメ,045-123-4049,139.5916,35.56189,831.0
11,S14022,逗子店,14,神奈川県,神奈川県逗子市逗子一丁目,カナガワケンズシシズシイッチョウメ,046-123-4036,139.5789,35.29642,1838.0
12,S14011,日吉本町店,14,神奈川県,神奈川県横浜市港北区日吉本町四丁目,カナガワケンヨコハマシコウホククヒヨシホンチョウヨンチョウメ,045-123-4033,139.6316,35.54655,890.0
13,S13016,小金井店,13,東京都,東京都小金井市本町一丁目,トウキョウトコガネイシホンチョウイッチョウメ,042-123-4015,139.5094,35.70018,1399.0
14,S14034,川崎野川店,14,神奈川県,神奈川県川崎市宮前区野川,カナガワケンカワサキシミヤマエクノガワ,044-123-4044,139.5998,35.57693,1318.0
15,S14048,中川中央店,14,神奈川県,神奈川県横浜市都筑区中川中央二丁目,カナガワケンヨコハマシツヅキクナカガワチュウオウニチョウメ,045-123-4051,139.5758,35.54912,1657.0
16,S12007,佐倉店,12,千葉県,千葉県佐倉市上志津,チバケンサクラシカミシヅ,043-123-4001,140.1452,35.71872,1895.0
17,S14026,辻堂西海岸店,14,神奈川県,神奈川県藤沢市辻堂西海岸二丁目,カナガワケンフジサワシツジドウニシカイガンニチョウメ,046-123-4040,139.4466,35.32464,1732.0
18,S13041,八王子店,13,東京都,東京都八王子市大塚,トウキョウトハチオウジシオオツカ,042-123-4026,139.4235,35.63787,810.0
19,S14049,川崎大師店,14,神奈川県,神奈川県川崎市川崎区中瀬三丁目,カナガワケンカワサキシカワサキクナカゼサンチョウメ,044-123-4052,139.7327,35.53759,962.0
20,S14023,川崎店,14,神奈川県,神奈川県川崎市川崎区本町二丁目,カナガワケンカワサキシカワサキクホンチョウニチョウメ,044-123-4037,139.7028,35.53599,1804.0
21,S13018,清瀬店,13,東京都,東京都清瀬市松山一丁目,トウキョウトキヨセシマツヤマイッチョウメ,042-123-4017,139.5178,35.76885,1220.0
22,S14027,南藤沢店,14,神奈川県,神奈川県藤沢市南藤沢,カナガワケンフジサワシミナミフジサワ,046-123-4041,139.4896,35.33762,1521.0
23,S14021,伊勢原店,14,神奈川県,神奈川県伊勢原市伊勢原四丁目,カナガワケンイセハラシイセハラヨンチョウメ,046-123-4035,139.3129,35.40169,962.0
24,S14047,相模原店,14,神奈川県,神奈川県相模原市千代田六丁目,カナガワケンサガミハラシチヨダロクチョウメ,042-123-4050,139.3748,35.55959,1047.0
25,S12013,習志野店,12,千葉県,千葉県習志野市芝園一丁目,チバケンナラシノシシバゾノイッチョウメ,047-123-4002,140.022,35.66122,808.0
26,S14042,新山下店,14,神奈川県,神奈川県横浜市中区新山下二丁目,カナガワケンヨコハマシナカクシンヤマシタニチョウメ,045-123-4047,139.6593,35.43894,1044.0
27,S12030,八幡店,12,千葉県,千葉県市川市八幡三丁目,チバケンイチカワシヤワタサンチョウメ,047-123-4005,139.924,35.72318,1162.0
28,S14025,大和店,14,神奈川県,神奈川県大和市下和田,カナガワケンヤマトシシモワダ,046-123-4039,139.468,35.43414,1011.0
29,S14045,厚木店,14,神奈川県,神奈川県厚木市中町二丁目,カナガワケンアツギシナカチョウニチョウメ,046-123-4048,139.3651,35.44182,980.0
30,S12029,東野店,12,千葉県,千葉県浦安市東野一丁目,チバケンウラヤスシヒガシノイッチョウメ,047-123-4004,139.8968,35.65086,1101.0
31,S12053,高洲店,12,千葉県,千葉県浦安市高洲五丁目,チバケンウラヤスシタカスゴチョウメ,047-123-4006,139.9176,35.63755,1555.0
32,S14024,三田店,14,神奈川県,神奈川県川崎市多摩区三田四丁目,カナガワケンカワサキシタマクミタヨンチョウメ,044-123-4038,139.5424,35.6077,972.0
33,S14006,葛が谷店,14,神奈川県,神奈川県横浜市都筑区葛が谷,カナガワケンヨコハマシツヅキククズガヤ,045-123-4031,139.5633,35.53573,1886.0

---
> S-017: 顧客データ（customer）を生年月日（birth_day）で高齢順にソートし、先頭から全項目を10件表示せよ。

In [ ]:
%%sql
SELECT* FROM customer ORDER BY birth_day LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
0,CS003813000014,村山 菜々美,1,女性,1928-11-26,90,182-0007,東京都調布市菊野台**********,S13003,20160214,0-00000000-0
1,CS026813000004,吉村 朝陽,1,女性,1928-12-14,90,251-0043,神奈川県藤沢市辻堂元町**********,S14026,20150723,0-00000000-0
2,CS018811000003,熊沢 美里,1,女性,1929-01-07,90,204-0004,東京都清瀬市野塩**********,S13018,20150403,0-00000000-0
3,CS027803000004,内村 拓郎,0,男性,1929-01-12,90,251-0031,神奈川県藤沢市鵠沼藤が谷**********,S14027,20151227,0-00000000-0
4,CS013801000003,天野 拓郎,0,男性,1929-01-15,90,274-0824,千葉県船橋市前原東**********,S12013,20160120,0-00000000-0
5,CS001814000022,鶴田 里穂,1,女性,1929-01-28,90,144-0045,東京都大田区南六郷**********,S13001,20161012,A-20090415-7
6,CS016815000002,山元 美紀,1,女性,1929-02-22,90,184-0005,東京都小金井市桜町**********,S13016,20150629,C-20090923-C
7,CS009815000003,中田 里穂,1,女性,1929-04-08,89,154-0014,東京都世田谷区新町**********,S13009,20150421,D-20091021-E
8,CS012813000013,宇野 南朋,1,女性,1929-04-09,89,231-0806,神奈川県横浜市中区本牧町**********,S14012,20150712,0-00000000-0
9,CS005813000015,金谷 恵梨香,1,女性,1929-04-09,89,165-0032,東京都中野区鷺宮**********,S13005,20150506,0-00000000-0

---
> S-018: 顧客データ（customer）を生年月日（birth_day）で若い順にソートし、先頭から全項目を10件表示せよ。

In [ ]:
%%sql

SELECT* FROM customer ORDER BY birth_day DESC LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
0,CS035114000004,大村 美里,1,女性,2007-11-25,11,156-0053,東京都世田谷区桜**********,S13035,20150619,6-20091205-6
1,CS022103000002,福山 はじめ,9,不明,2007-10-02,11,249-0006,神奈川県逗子市逗子**********,S14022,20160909,0-00000000-0
2,CS002113000009,柴田 真悠子,1,女性,2007-09-17,11,184-0014,東京都小金井市貫井南町**********,S13002,20160304,0-00000000-0
3,CS004115000014,松井 京子,1,女性,2007-08-09,11,165-0031,東京都中野区上鷺宮**********,S13004,20161120,1-20081231-1
4,CS002114000010,山内 遥,1,女性,2007-06-03,11,184-0015,東京都小金井市貫井北町**********,S13002,20160920,6-20100510-1
5,CS025115000002,小柳 夏希,1,女性,2007-04-18,11,245-0018,神奈川県横浜市泉区上飯田町**********,S14025,20160116,D-20100913-D
6,CS002113000025,広末 まなみ,1,女性,2007-03-30,12,184-0015,東京都小金井市貫井北町**********,S13002,20171030,0-00000000-0
7,CS033112000003,長野 美紀,1,女性,2007-03-22,12,245-0051,神奈川県横浜市戸塚区名瀬町**********,S14033,20150606,0-00000000-0
8,CS007115000006,福岡 瞬,1,女性,2007-03-10,12,285-0845,千葉県佐倉市西志津**********,S12007,20151118,F-20101016-F
9,CS014113000008,矢口 莉緒,1,女性,2007-03-05,12,260-0041,千葉県千葉市中央区東千葉**********,S12014,20150622,3-20091108-6

---
> S-019: レシート明細データ（receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭から10件表示せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合は同一順位を付与するものとする。

In [ ]:
%%sql
SELECT
    customer_id,
    amount,
    RANK() OVER(ORDER BY amount DESC) AS ranking
FROM 
    receipt
LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id  amount  ranking
0  CS011415000006   10925        1
1  ZZ000000000000    6800        2
2  CS028605000002    5780        3
3  CS015515000034    5480        4
4  ZZ000000000000    5480        4
5  ZZ000000000000    5480        4
6  ZZ000000000000    5440        7
7  CS021515000089    5440        7
8  ZZ000000000000    5280        9
9  ZZ000000000000    5280        9

---
> S-020: レシート明細データ（receipt）に対し、1件あたりの売上金額（amount）が高い順にランクを付与し、先頭から10件表示せよ。項目は顧客ID（customer_id）、売上金額（amount）、付与したランクを表示させること。なお、売上金額（amount）が等しい場合でも別順位を付与すること。

In [ ]:
%%sql
SELECT
    customer_id,
    amount,
    ROW_NUMBER() OVER(ORDER BY amount DESC) AS ranking
FROM
    receipt
LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id  amount  ranking
0  CS011415000006   10925        1
1  ZZ000000000000    6800        2
2  CS028605000002    5780        3
3  ZZ000000000000    5480        4
4  CS015515000034    5480        5
5  ZZ000000000000    5480        6
6  ZZ000000000000    5440        7
7  CS021515000089    5440        8
8  ZZ000000000000    5280        9
9  CS001412000160    5280       10

---
> S-021: レシート明細データ（receipt）に対し、件数をカウントせよ。

In [ ]:
#例1
%%sql
SELECT COUNT(1) FROM receipt

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

    count
0  104681

In [ ]:
#例2
%%sql
SELECT COUNT(*) FROM receipt

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

    count
0  104681

---
> S-022: レシート明細データ（receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [ ]:
%%sql
SELECT COUNT(DISTINCT customer_id) FROM receipt

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

   count
0   8307

---
> S-023: レシート明細データ（receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）と売上数量（quantity）を合計せよ。

In [ ]:
%%sql
SELECT store_cd ,SUM(amount) AS amount,SUM(quantity) AS quantity 
FROM receipt group by store_cd

 * postgresql://padwan:***@localhost:5432/dsdojo_db
52 rows affected.

   store_cd  amount  quantity
0    S13032  790501      2491
1    S13020  796383      2383
2    S12007  638761      2099
3    S13009  808870      2486
4    S14022  651328      2047
5    S13039  611888      1981
6    S14028  786145      2458
7    S14024  736323      2417
8    S13041  728266      2233
9    S13015  780873      2248
10   S12029  794741      2555
11   S12030  684402      2403
12   S14047  338329      1041
13   S14011  805724      2434
14   S13043  587895      1881
15   S13016  793773      2432
16   S13038  708884      2337
17   S13001  811936      2347
18   S14023  727630      2258
19   S13008  809288      2491
20   S14050  167090       580
21   S13031  705968      2336
22   S12013  787513      2425
23   S13044  520764      1729
24   S13037  693087      2344
25   S14034  653681      2024
26   S14036  203694       635
27   S13052  100314       250
28   S14027  714550      2303
29   S13019  827833      2541
30   S14046  412646      1354
31   S13003  764294      2197
32   S14042  534689      1935
33   S13004  779373      2390
34   S12014  725167      2358
35   S13035  715869      2219
36   S14012  720600      2412
37   S14026  824537      2503
38   S14010  790361      2290
39   S14049  230808       788
40   S14033  725318      2282
41   S14040  701858      2233
42   S13005  629876      2004
43   S13018  790535      2562
44   S13051  107452       354
45   S13017  748221      2376
46   S14045  458484      1398
47   S13002  727821      2340
48   S14021  699511      2231
49   S14006  712839      2284
50   S14025  755581      2394
51   S14048  234276       769

---
> S-024: レシート明細データ（receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上年月日（sales_ymd）を求め、10件表示せよ。

In [ ]:
%%sql
SELECT customer_id, MAX(sales_ymd)
FROM receipt
GROUP BY customer_id
LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id       max
0  CS001311000059  20180211
1  CS004614000122  20181228
2  CS003512000043  20180106
3  CS011615000061  20190503
4  CS029212000033  20180621
5  CS007515000119  20190511
6  CS034515000123  20190708
7  CS004315000058  20170517
8  CS026414000014  20190720
9  CS001615000099  20170729

---
> S-025: レシート明細データ（receipt）に対し、顧客ID（customer_id）ごとに最も古い売上年月日（sales_ymd）を求め、10件表示せよ。

In [ ]:
%%sql
SELECT customer_id, MIN(sales_ymd)
FROM receipt
GROUP BY customer_id
LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id       min
0  CS001311000059  20180211
1  CS004614000122  20181228
2  CS003512000043  20180106
3  CS011615000061  20190503
4  CS029212000033  20170318
5  CS007515000119  20170201
6  CS034515000123  20170527
7  CS004315000058  20170517
8  CS026414000014  20170718
9  CS001615000099  20170729

---
> S-026: レシート明細データ（receipt）に対し、顧客ID（customer_id）ごとに最も新しい売上年月日（sales_ymd）と古い売上年月日を求め、両者が異なるデータを10件表示せよ。

In [ ]:
%%sql
SELECT customer_id,MAX(sales_ymd), MIN(sales_ymd)
FROM receipt
GROUP BY customer_id
HAVING MAX(sales_ymd) != MIN(sales_ymd)
LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id       max       min
0  CS029212000033  20180621  20170318
1  CS007515000119  20190511  20170201
2  CS034515000123  20190708  20170527
3  CS026414000014  20190720  20170718
4  CS010515000082  20181204  20180518
5  CS019315000045  20170920  20170423
6  CS008513000099  20190308  20170722
7  CS007615000070  20191025  20170929
8  CS025415000155  20191026  20170314
9  CS016414000063  20190617  20170109

---
> S-027: レシート明細データ（receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、降順でTOP5を表示せよ。

In [ ]:
%%sql
SELECT store_cd,AVG(amount) AS avg_amount
FROM receipt
GROUP BY store_cd
ORDER BY avg_amount DESC
LIMIT 5

 * postgresql://padwan:***@localhost:5432/dsdojo_db
5 rows affected.

  store_cd            avg_amount
0   S13052  402.8674698795180723
1   S13015  351.1119604316546763
2   S13003  350.9155188246097337
3   S14010  348.7912621359223301
4   S13001  348.4703862660944206

---
> S-028: レシート明細データ（receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の中央値を計算し、降順でTOP5を表示せよ。

In [ ]:
%%sql
SELECT store_cd, 
       PERCENTILE_CONT(0.5) WITHIN GROUP(ORDER BY amount) AS amount_50per
FROM receipt
GROUP BY store_cd
ORDER BY amount_50per DESC
LIMIT 5

 * postgresql://padwan:***@localhost:5432/dsdojo_db
5 rows affected.

  store_cd  amount_50per
0   S13052         190.0
1   S14010         188.0
2   S14050         185.0
3   S13003         180.0
4   S13018         180.0

---
> S-029: レシート明細データ（receipt）に対し、店舗コード（store_cd）ごとに商品コード（product_cd）の最頻値を求め、10件表示させよ。

In [ ]:
%%sql
SELECT store_cd, MODE() WITHIN GROUP(ORDER BY product_cd)
FROM receipt
GROUP BY store_cd
ORDER BY store_cd
LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

  store_cd        mode
0   S12007  P060303001
1   S12013  P060303001
2   S12014  P060303001
3   S12029  P060303001
4   S12030  P060303001
5   S13001  P060303001
6   S13002  P060303001
7   S13003  P071401001
8   S13004  P060303001
9   S13005  P040503001

---
> S-030: レシート明細データ（receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の分散を計算し、降順で5件表示せよ。

In [ ]:
%%sql
SELECT store_cd, VAR_POP(amount) AS vars_amount
FROM receipt
GROUP BY store_cd
ORDER BY vars_amount DESC
LIMIT 5

 * postgresql://padwan:***@localhost:5432/dsdojo_db
5 rows affected.

  store_cd          vars_amount
0   S13052  440088.701311269173
1   S14011  306314.558163888889
2   S14034  296920.081011283873
3   S13001  295431.993329035348
4   S13015  295294.361115940880

---
> S-031: レシート明細データ（receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の標準偏差を計算し、降順で5件表示せよ。

In [ ]:
%%sql
SELECT store_cd, STDDEV_POP(amount) AS stds_amount
FROM receipt
GROUP BY store_cd
ORDER BY stds_amount DESC
LIMIT 5

 * postgresql://padwan:***@localhost:5432/dsdojo_db
5 rows affected.

  store_cd       stds_amount
0   S13052  663.391815830787
1   S14011  553.456916267101
2   S14034  544.903735545357
3   S13001  543.536561170484
4   S13015  543.409938366921

---
> S-032: レシート明細データ（receipt）の売上金額（amount）について、25％刻みでパーセンタイル値を求めよ。

In [ ]:
%%sql
SELECT 
       PERCENTILE_CONT(0.25) WITHIN GROUP(ORDER BY amount) AS amount_25per,
       PERCENTILE_CONT(0.50) WITHIN GROUP(ORDER BY amount) AS amount_50per,
       PERCENTILE_CONT(0.75) WITHIN GROUP(ORDER BY amount) AS amount_75per,
       PERCENTILE_CONT(1.0) WITHIN GROUP(ORDER BY amount) AS amount_100per
FROM receipt

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

   amount_25per  amount_50per  amount_75per  amount_100per
0         102.0         170.0         288.0        10925.0

---
> S-033: レシート明細データ（receipt）に対し、店舗コード（store_cd）ごとに売上金額（amount）の平均を計算し、330以上のものを抽出せよ。

In [ ]:
%%sql
SELECT store_cd,
       AVG(amount) AS avg_amount
FROM receipt
GROUP BY store_cd
HAVING  AVG(amount) >= 330

 * postgresql://padwan:***@localhost:5432/dsdojo_db
13 rows affected.

   store_cd            avg_amount
0    S13020  337.8799321170980059
1    S13015  351.1119604316546763
2    S14047  330.0770731707317073
3    S14011  335.7183333333333333
4    S13001  348.4703862660944206
5    S12013  330.1941299790356394
6    S13052  402.8674698795180723
7    S13019  330.2086158755484643
8    S13003  350.9155188246097337
9    S13004  330.9439490445859873
10   S14026  332.3405884723901653
11   S14010  348.7912621359223301
12   S14045  330.0820734341252700

---
> S-034: レシート明細データ（receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求めよ。ただし、顧客IDが"Z"から始まるものは非会員を表すため、除外して計算すること。

In [ ]:
%%sql
WITH customer_amount AS(
    SELECT
        customer_id,
        SUM(amount) AS sum_amount
    FROM receipt
    WHERE customer_id NOT LIKE 'Z%'
    GROUP BY customer_id)

SELECT
     AVG(sum_amount)
FROM customer_amount

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

                     avg
0  2547.7422345292559595

---
> S-035: レシート明細データ（receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出し、10件表示せよ。ただし、顧客IDが"Z"から始まるものは非会員を表すため、除外して計算すること。

In [ ]:
%%sql
WITH customer_amount AS(
    SELECT
        customer_id,
        SUM(amount) AS sum_amount
    FROM receipt 
    WHERE customer_id NOT LIKE 'Z%'
    GROUP BY customer_id
)
SELECT customer_id,sum_amount
FROM customer_amount
WHERE sum_amount >= (
    SELECT AVG(sum_amount)
    FROM customer_amount
    
)
LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id  sum_amount
0  CS029212000033        3604
1  CS007515000119        7157
2  CS034515000123        3699
3  CS026414000014        6671
4  CS007615000070        2975
5  CS016414000063        6207
6  CS012514000018        2562
7  CS029515000142        3420
8  CS015215000021        3090
9  CS039814000011        8031

---
> S-036: レシート明細データ（receipt）と店舗データ（store）を内部結合し、レシート明細データの全項目と店舗データの店舗名（store_name）を10件表示せよ。

In [ ]:
%%sql
SELECT r.*,s.store_name
FROM receipt r
JOIN store s
ON r.store_cd = s.store_cd
LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

,sales_ymd,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount,store_name
0,20181103,1541203200,S14006,112,1,CS006214000001,P070305012,1,158,葛が谷店
1,20181118,1542499200,S13008,1132,2,CS008415000097,P070701017,1,81,成城店
2,20170712,1499817600,S14028,1102,1,CS028414000014,P060101005,1,170,二ツ橋店
3,20190205,1549324800,S14042,1132,1,ZZ000000000000,P050301001,1,25,新山下店
4,20180821,1534809600,S14025,1102,2,CS025415000050,P060102007,1,90,大和店
5,20190605,1559692800,S13003,1112,1,CS003515000195,P050102002,1,138,狛江店
6,20181205,1543968000,S14024,1102,2,CS024514000042,P080101005,1,30,三田店
7,20190922,1569110400,S14040,1102,1,CS040415000178,P070501004,1,128,長津田店
8,20170504,1493856000,S13020,1112,2,ZZ000000000000,P071302010,1,770,十条仲原店
9,20191010,1570665600,S14027,1102,1,CS027514000015,P071101003,1,680,南藤沢店

---
> S-037: 商品データ（product）とカテゴリデータ（category）を内部結合し、商品データの全項目とカテゴリデータのカテゴリ小区分名（category_small_name）を10件表示せよ。

In [ ]:
%%sql

SELECT p.*, c.category_small_name
FROM product p
JOIN category c
ON p.category_small_cd = c.category_small_cd
LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

,product_cd,category_major_cd,category_medium_cd,category_small_cd,unit_price,unit_cost,category_small_name
0,P040101001,04,0401,040101,198,149,弁当類
1,P040101002,04,0401,040101,218,164,弁当類
2,P040101003,04,0401,040101,230,173,弁当類
3,P040101004,04,0401,040101,248,186,弁当類
4,P040101005,04,0401,040101,268,201,弁当類
5,P040101006,04,0401,040101,298,224,弁当類
6,P040101007,04,0401,040101,338,254,弁当類
7,P040101008,04,0401,040101,420,315,弁当類
8,P040101009,04,0401,040101,498,374,弁当類
9,P040101010,04,0401,040101,580,435,弁当類

---
> S-038: 顧客データ（customer）とレシート明細データ（receipt）から、顧客ごとの売上金額合計を求め、10件表示せよ。ただし、売上実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが"Z"から始まるもの）は除外すること。

In [ ]:
%%sql
WITH customer_amount AS(
    SELECT customer_id, SUM(amount) AS sum_amount
    FROM receipt
    GROUP BY customer_id
),

   customer_data AS(
    SELECT customer_id
    FROM customer
    WHERE gender_cd = '1' AND customer_id NOT LIKE 'Z%'
)

SELECT c.customer_id, COALESCE(a.sum_amount, 0)
FROM customer_data c
LEFT OUTER JOIN customer_amount a
ON c.customer_id = a.customer_id
LIMIt 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id  coalesce
0  CS021313000114         0
1  CS031415000172      5088
2  CS028811000001         0
3  CS001215000145       875
4  CS015414000103      3122
5  CS033513000180       868
6  CS035614000014         0
7  CS011215000048      3444
8  CS009413000079         0
9  CS040412000191       210

---
> S-039: レシート明細データ（receipt）から、売上日数の多い顧客の上位20件を抽出したデータと、売上金額合計の多い顧客の上位20件を抽出したデータをそれぞれ作成し、さらにその2つを完全外部結合せよ。ただし、非会員（顧客IDが"Z"から始まるもの）は除外すること。

In [ ]:
%%sql
select*
from receipt limit 2

 * postgresql://padwan:***@localhost:5432/dsdojo_db
2 rows affected.

,sales_ymd,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount
0,20181103,1541203200,S14006,112,1,CS006214000001,P070305012,1,158
1,20181118,1542499200,S13008,1132,2,CS008415000097,P070701017,1,81

In [ ]:
%%sql
WITH customer_days AS(
    select customer_id,COUNT(DISTINCT sales_ymd) come_days
    from receipt
    where customer_id not like 'Z%'
    group by customer_id
    order by come_days DESC LIMIT 20
),

customer_amount AS(
    select customer_id,sum(amount) buy_amount
    from receipt
    where customer_id not like 'Z%'
    group by customer_id
    order by buy_amount
)
select COALESCE(d.customer_id, a.customer_id), d.come_days,a.buy_amount
from customer_days d
full join customer_amount a
on d.customer_id = a.customer_id

 * postgresql://padwan:***@localhost:5432/dsdojo_db
8306 rows affected.

            coalesce  come_days  buy_amount
0     CS014614000056        NaN          70
1     CS002513000267        NaN          80
2     CS010803000005        NaN          93
3     CS005412000085        NaN          98
4     CS035304000008        NaN         105
...              ...        ...         ...
8301  CS001605000009        NaN       18925
8302  CS028415000007       21.0       19127
8303  CS031414000051       19.0       19202
8304  CS015415000185       22.0       20153
8305  CS017415000097       20.0       23086

[8306 rows x 3 columns]

---
> S-040: 全ての店舗と全ての商品を組み合わせたデータを作成したい。店舗データ（store）と商品データ（product）を直積し、件数を計算せよ。

In [ ]:
%%sql
select count(1)
from store
cross join product

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

    count
0  531590

---
> S-041: レシート明細データ（receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、前回売上があった日からの売上金額増減を計算せよ。そして結果を10件表示せよ。

In [ ]:
%%sql
with sales_amount_by_date as(
    select sales_ymd,sum(amount) as amount
    from receipt
    group by sales_ymd
    order by sales_ymd
)
select  
 sales_ymd,
 lag(sales_ymd, 1) over(order by sales_ymd) lag_ymd,
 amount,
 lag(amount,1) over(order by sales_ymd) lag_amount,
    amount - lag(amount,1) over(order by sales_ymd) as diff_amount
from sales_amount_by_date
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

   sales_ymd     lag_ymd  amount  lag_amount  diff_amount
0   20170101         NaN   33723         NaN          NaN
1   20170102  20170101.0   24165     33723.0      -9558.0
2   20170103  20170102.0   27503     24165.0       3338.0
3   20170104  20170103.0   36165     27503.0       8662.0
4   20170105  20170104.0   37830     36165.0       1665.0
5   20170106  20170105.0   32387     37830.0      -5443.0
6   20170107  20170106.0   23415     32387.0      -8972.0
7   20170108  20170107.0   24737     23415.0       1322.0
8   20170109  20170108.0   26718     24737.0       1981.0
9   20170110  20170109.0   20143     26718.0      -6575.0

---
> S-042: レシート明細データ（receipt）の売上金額（amount）を日付（sales_ymd）ごとに集計し、各日付のデータに対し、前回、前々回、3回前に売上があった日のデータを結合せよ。そして結果を10件表示せよ。

In [ ]:
%%sql
with sales_amount_by_date as(
    select sales_ymd, sum(amount) amount
    from receipt
    group by sales_ymd
    order by sales_ymd
),

seles_amount_with_lag as(
select
 sales_ymd,
 amount,
 lag(sales_ymd,1) over(order by sales_ymd) lag_ymd_1,
 lag(amount,1) over(order by sales_ymd) lag_amount_1,
 lag(sales_ymd,2) over(order by sales_ymd) lag_amount_2,
 lag(amount,2) over(order by sales_ymd) lag_amount_2,
 lag(sales_ymd,3) over(order by sales_ymd) lag_ymd_3,
 lag(amount,3) over(order by sales_ymd) lag_amount_3
from sales_amount_by_date
)

select*
from seles_amount_with_lag
where lag_ymd_3 is not null
order by sales_ymd
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

,sales_ymd,amount,lag_ymd_1,lag_amount_1,lag_amount_2,lag_amount_2,lag_ymd_3,lag_amount_3
0,20170104,36165,20170103,27503,20170102,24165,20170101,33723
1,20170105,37830,20170104,36165,20170103,27503,20170102,24165
2,20170106,32387,20170105,37830,20170104,36165,20170103,27503
3,20170107,23415,20170106,32387,20170105,37830,20170104,36165
4,20170108,24737,20170107,23415,20170106,32387,20170105,37830
5,20170109,26718,20170108,24737,20170107,23415,20170106,32387
6,20170110,20143,20170109,26718,20170108,24737,20170107,23415
7,20170111,24287,20170110,20143,20170109,26718,20170108,24737
8,20170112,23526,20170111,24287,20170110,20143,20170109,26718
9,20170113,28004,20170112,23526,20170111,24287,20170110,20143

In [ ]:
#縦
%%sql
with sales_amount_by_date as(
    select sales_ymd, sum(amount) amount
    from receipt
    group by sales_ymd
),

sales_amount_lag_date as(
    select sales_ymd,
    lag(sales_ymd,3) over(order by sales_ymd) as lag_date_3,
    amount
    from sales_amount_by_date
)

select a.sales_ymd, a.amount, b.sales_ymd as lag_ymd, b.amount as lag_amount
from sales_amount_lag_date a
join sales_amount_lag_date b
on (a.lag_date_3 is null or a.lag_date_3 <= b.sales_ymd)
and b.sales_ymd < a.sales_ymd
order by sales_ymd, lag_ymd
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

   sales_ymd  amount   lag_ymd  lag_amount
0   20170102   24165  20170101       33723
1   20170103   27503  20170101       33723
2   20170103   27503  20170102       24165
3   20170104   36165  20170101       33723
4   20170104   36165  20170102       24165
5   20170104   36165  20170103       27503
6   20170105   37830  20170102       24165
7   20170105   37830  20170103       27503
8   20170105   37830  20170104       36165
9   20170106   32387  20170103       27503

---
> S-043: レシート明細データ（receipt）と顧客データ（customer）を結合し、性別コード（gender_cd）と年代（ageから計算）ごとに売上金額（amount）を合計した売上サマリデータを作成せよ。性別コードは0が男性、1が女性、9が不明を表すものとする。
>
> ただし、項目構成は年代、女性の売上金額、男性の売上金額、性別不明の売上金額の4項目とすること（縦に年代、横に性別のクロス集計）。また、年代は10歳ごとの階級とすること。

In [ ]:
%%sql
drop table if exists sales_summary;

create table sales_summary as
    with gender_era_amount as(
        select c.gender_cd,
        trunc(age / 10) * 10 era,
        sum(r.amount) amount
        from customer c
        join receipt r
        on c.customer_id = r.customer_id
        group by c.gender_cd, era
    )

    select era,
    max(case gender_cd when'0' then amount end) as male,
    max(case gender_cd when'1' then amount end) as female,
    max(case gender_cd when'9' then amount end) as unknown
    from gender_era_amount
    group by era
    order by era
;

select*
from sales_summary
;

 * postgresql://padwan:***@localhost:5432/dsdojo_db
Done.
9 rows affected.
9 rows affected.

    era      male   female   unknown
0  10.0    1591.0   149836    4317.0
1  20.0   72940.0  1363724   44328.0
2  30.0  177322.0   693047   50441.0
3  40.0   19355.0  9320791  483512.0
4  50.0   54320.0  6685192  342923.0
5  60.0  272469.0   987741   71418.0
6  70.0   13435.0    29764    2427.0
7  80.0   46360.0   262923    5111.0
8  90.0       NaN     6260       NaN

---
> S-044: 043で作成した売上サマリデータ（sales_summary）は性別の売上を横持ちさせたものであった。このデータから性別を縦持ちさせ、年代、性別コード、売上金額の3項目に変換せよ。ただし、性別コードは男性を"00"、女性を"01"、不明を"99"とする。

In [ ]:
%%sql
select era,'00'as gender_cd, male as amount
from sales_summary
unioin all
select era,'01'as gender_cd, female as amount
from sales_summary
unioin all
select era,'99'as gender_cd, unknown as amount
from sales_summary
;

 * postgresql://padwan:***@localhost:5432/dsdojo_db
(psycopg2.errors.SyntaxError) syntax error at or near "all"
LINE 3: unioin all
               ^

[SQL: select era,'00'as gender_cd, male as amount
from sales_summary
unioin all
select era,'01'as gender_cd, female as amount
from sales_summary
unioin all
select era,'99'as gender_cd, unknown as amount
from sales_summary
;]
(Background on this error at: https://sqlalche.me/e/14/f405)

---
> S-045: 顧客データ（customer）の生年月日（birth_day）は日付型でデータを保有している。これをYYYYMMDD形式の文字列に変換し、顧客ID（customer_id）とともに10件表示せよ。

In [ ]:
%%sql
select customer_id,to_char(birth_day,'YYYYMMDD') as birth_day
from customer
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id birth_day
0  CS021313000114  19810429
1  CS037613000071  19520401
2  CS031415000172  19761004
3  CS028811000001  19330327
4  CS001215000145  19950329
5  CS020401000016  19740915
6  CS015414000103  19770809
7  CS029403000008  19730817
8  CS015804000004  19310502
9  CS033513000180  19620711

---
> S-046: 顧客データ（customer）の申し込み日（application_date）はYYYYMMDD形式の文字列型でデータを保有している。これを日付型に変換し、顧客ID（customer_id）とともに10件表示せよ。

In [ ]:
%%sql
select customer_id, to_date(application_date , 'YYYYMMDD') as application_data
from customer
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id application_data
0  CS021313000114       2015-09-05
1  CS037613000071       2015-04-14
2  CS031415000172       2015-05-29
3  CS028811000001       2016-01-15
4  CS001215000145       2017-06-05
5  CS020401000016       2015-02-25
6  CS015414000103       2015-07-22
7  CS029403000008       2015-05-15
8  CS015804000004       2015-06-07
9  CS033513000180       2015-07-28

---
> S-047: レシート明細データ（receipt）の売上日（sales_ymd）はYYYYMMDD形式の数値型でデータを保有している。これを日付型に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。

In [ ]:
%%sql
select receipt_no,receipt_sub_no, to_date(cast(sales_ymd as varchar), 'YYYYMMDD') as sales_ymd
from receipt
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

   receipt_no  receipt_sub_no   sales_ymd
0         112               1  2018-11-03
1        1132               2  2018-11-18
2        1102               1  2017-07-12
3        1132               1  2019-02-05
4        1102               2  2018-08-21
5        1112               1  2019-06-05
6        1102               2  2018-12-05
7        1102               1  2019-09-22
8        1112               2  2017-05-04
9        1102               1  2019-10-10

---
> S-048: レシート明細データ（receipt）の売上エポック秒（sales_epoch）は数値型のUNIX秒でデータを保有している。これを日付型に変換し、レシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。

In [ ]:
%%sql

SELECT 
    receipt_no,
    receipt_sub_no,
    CAST(to_timestamp(sales_epoch) AS DATE) AS sales_ymd
FROM receipt 
LIMIT 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

   receipt_no  receipt_sub_no   sales_ymd
0         112               1  2018-11-03
1        1132               2  2018-11-18
2        1102               1  2017-07-12
3        1132               1  2019-02-05
4        1102               2  2018-08-21
5        1112               1  2019-06-05
6        1102               2  2018-12-05
7        1102               1  2019-09-22
8        1112               2  2017-05-04
9        1102               1  2019-10-10

---
> S-049: レシート明細データ（receipt）の売上エポック秒（sales_epoch）を日付型に変換し、「年」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。

In [ ]:
%%sql
select receipt_no, 
       receipt_sub_no,
       extract(year from to_timestamp(sales_epoch) )as sales_year
from receipt
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

   receipt_no  receipt_sub_no  sales_year
0         112               1      2018.0
1        1132               2      2018.0
2        1102               1      2017.0
3        1132               1      2019.0
4        1102               2      2018.0
5        1112               1      2019.0
6        1102               2      2018.0
7        1102               1      2019.0
8        1112               2      2017.0
9        1102               1      2019.0

---
> S-050: レシート明細データ（receipt）の売上エポック秒（sales_epoch）を日付型に変換し、「月」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。なお、「月」は0埋め2桁で取り出すこと。

In [ ]:
%%sql
select receipt_no,
       receipt_sub_no,
       to_char(
       EXTRACT(month from to_timestamp(sales_epoch)) ,'FM00')as sales_month
from receipt
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

   receipt_no  receipt_sub_no sales_month
0         112               1          11
1        1132               2          11
2        1102               1          07
3        1132               1          02
4        1102               2          08
5        1112               1          06
6        1102               2          12
7        1102               1          09
8        1112               2          05
9        1102               1          10

---
> S-051: レシート明細データ（receipt）の売上エポック秒を日付型に変換し、「日」だけ取り出してレシート番号(receipt_no)、レシートサブ番号（receipt_sub_no）とともに10件表示せよ。なお、「日」は0埋め2桁で取り出すこと。

In [ ]:
%%sql
select receipt_no,
       receipt_sub_no,
       to_char(
           EXTRACT(day from to_timestamp(sales_epoch)),'FM00') as sales_day
       
from receipt
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

   receipt_no  receipt_sub_no sales_day
0         112               1        03
1        1132               2        18
2        1102               1        12
3        1132               1        05
4        1102               2        21
5        1112               1        05
6        1102               2        05
7        1102               1        22
8        1112               2        04
9        1102               1        10

---
> S-052: レシート明細データ（receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計の上、売上金額合計に対して2,000円以下を0、2,000円より大きい金額を1に二値化し、顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [ ]:
%%sql
select
     customer_id, 
     sum(amount) as sum_amount,
     case
     when sum(amount) > 2000 then 1 else 0 end as sales_flg
from receipt
where customer_id not like 'Z%'
group by customer_id

 * postgresql://padwan:***@localhost:5432/dsdojo_db
8306 rows affected.

         customer_id  sum_amount  sales_flg
0     CS001311000059        2302          1
1     CS004614000122         248          0
2     CS003512000043         298          0
3     CS011615000061         246          0
4     CS029212000033        3604          1
...              ...         ...        ...
8301  CS023414000087        6171          1
8302  CS002513000310         202          0
8303  CS019415000216        2351          1
8304  CS015415000068       12315          1
8305  CS018415000040        4331          1

[8306 rows x 3 columns]

---
> S-053: 顧客データ（customer）の郵便番号（postal_cd）に対し、東京（先頭3桁が100〜209のもの）を1、それ以外のものを0に二値化せよ。さらにレシート明細データ（receipt）と結合し、全期間において売上実績のある顧客数を、作成した二値ごとにカウントせよ。

In [ ]:
%%sql
-- 東京に1, それ以外を0とするpostal_flgというカラムを持つcustを作る
with cust as(
    select
     customer_id,
     postal_cd,
     case
         when cast(SUBSTR(postal_cd, 1,3) as integer) between 100 and 209 then 1 else 0
     end as postal_flg         
     from customer
),
-- 顧客ごとの買い物合計額を持つテーブル
rect as(
    select customer_id, sum(amount)
    from receipt
    group by customer_id
)

select c.postal_flg,count(1)
from rect r
join cust c
on r.customer_id = c.customer_id
group by c.postal_flg

 * postgresql://padwan:***@localhost:5432/dsdojo_db
2 rows affected.

   postal_flg  count
0           0   3906
1           1   4400

---
> S-054: 顧客データ（customer）の住所（address）は、埼玉県、千葉県、東京都、神奈川県のいずれかとなっている。都道府県毎にコード値を作成し、顧客ID、住所とともに10件表示せよ。値は埼玉県を11、千葉県を12、東京都を13、神奈川県を14とすること。

In [ ]:
%%sql
--例1
select customer_id, address,
 case SUBSTR(address,1,3)
 when '埼玉県' then '11'
 when '千葉県' then '12'
 when '東京都' then '13'
 when '神奈川' then '14'
end as prefecture_cd
from customer
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id                 address prefecture_cd
0  CS021313000114    神奈川県伊勢原市粟窪**********            14
1  CS037613000071      東京都江東区南砂**********            13
2  CS031415000172     東京都渋谷区代々木**********            13
3  CS028811000001  神奈川県横浜市泉区和泉町**********            14
4  CS001215000145     東京都大田区仲六郷**********            13
5  CS020401000016      東京都板橋区若木**********            13
6  CS015414000103      東京都江東区北砂**********            13
7  CS029403000008      千葉県浦安市海楽**********            12
8  CS015804000004      東京都江東区北砂**********            13
9  CS033513000180  神奈川県横浜市旭区善部町**********            14

In [ ]:
%%sql
--例2
select customer_id,address,
case 
when address like '埼玉県%' then '11'
when address like '千葉県%' then '12'
when address like '東京都%' then '13'
when address like '神奈川県%' then '14'
end as prefecture_cd
from customer
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id                 address prefecture_cd
0  CS021313000114    神奈川県伊勢原市粟窪**********            14
1  CS037613000071      東京都江東区南砂**********            13
2  CS031415000172     東京都渋谷区代々木**********            13
3  CS028811000001  神奈川県横浜市泉区和泉町**********            14
4  CS001215000145     東京都大田区仲六郷**********            13
5  CS020401000016      東京都板橋区若木**********            13
6  CS015414000103      東京都江東区北砂**********            13
7  CS029403000008      千葉県浦安市海楽**********            12
8  CS015804000004      東京都江東区北砂**********            13
9  CS033513000180  神奈川県横浜市旭区善部町**********            14

---
> S-055: レシート明細（receipt）データの売上金額（amount）を顧客ID（customer_id）ごとに合計し、その合計金額の四分位点を求めよ。その上で、顧客ごとの売上金額合計に対して以下の基準でカテゴリ値を作成し、顧客ID、売上金額合計とともに10件表示せよ。カテゴリ値は順に1〜4とする。
>
> - 最小値以上第1四分位未満 ・・・ 1を付与
> - 第1四分位以上第2四分位未満 ・・・ 2を付与
> - 第2四分位以上第3四分位未満 ・・・ 3を付与
> - 第3四分位以上 ・・・ 4を付与

In [ ]:
%%sql
with sales_amount as(
    select customer_id,
    sum(amount) as sum_amount
    from receipt
    group by customer_id
    ),

sales_pct as(
    select
    percentile_cont(0.25) within group(order by sum_amount) as pct25,
    percentile_cont(0.50) within group(order by sum_amount) as pct50,
    percentile_cont(0.75) within group(order by sum_amount) as pct75
    from sales_amount
)

select 
a.customer_id,
a.sum_amount,
case
when a.sum_amount < pct25 then 1
when pct25 <= a.sum_amount and a.sum_amount < pct50 then 2
when pct50 <= a.sum_amount and a.sum_amount < pct75 then 3
when pct75 <= a.sum_amount then 4
end as pct_group

from sales_amount a
cross join sales_pct p
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id  sum_amount  pct_group
0  CS001311000059        2302          3
1  CS004614000122         248          1
2  CS003512000043         298          1
3  CS011615000061         246          1
4  CS029212000033        3604          3
5  CS007515000119        7157          4
6  CS034515000123        3699          4
7  CS004315000058         490          1
8  CS026414000014        6671          4
9  CS001615000099         768          2

---
> S-056: 顧客データ（customer）の年齢（age）をもとに10歳刻みで年代を算出し、顧客ID（customer_id）、生年月日（birth_day）とともに10件表示せよ。ただし、60歳以上は全て60歳代とすること。年代を表すカテゴリ名は任意とする。

In [ ]:
%%sql

select customer_id,
       birth_day,
       least(cast(trunc(age / 10) * 10 as integer), 60) as era
from customer
group by customer_id, birth_day
limit 3

 * postgresql://padwan:***@localhost:5432/dsdojo_db
3 rows affected.

      customer_id   birth_day  era
0  CS001105000001  2000-01-14   10
1  CS001112000009  2006-08-24   10
2  CS001112000019  2001-01-31   10

In [ ]:
%%sql

select customer_id,
       birth_day,
       least(cast(trunc(age / 10) * 10 as integer), 60) as era
from customer
group by customer_id
HAVING LEAST(CAST(TRUNC(age / 10) * 10 AS INTEGER), 60) >= 60
limit 3

 * postgresql://padwan:***@localhost:5432/dsdojo_db
3 rows affected.

      customer_id   birth_day  era
0  CS001413000478  1953-01-29   60
1  CS001413000794  1939-10-09   60
2  CS001415000389  1933-10-08   60

---
> S-057: 056の抽出結果と性別コード（gender_cd）により、新たに性別×年代の組み合わせを表すカテゴリデータを作成し、10件表示せよ。組み合わせを表すカテゴリの値は任意とする。

In [ ]:
%%sql
select distinct(gender_cd)
from customer

 * postgresql://padwan:***@localhost:5432/dsdojo_db
3 rows affected.

  gender_cd
0         9
1         0
2         1

In [ ]:
%%sql
select customer_id, birth_day,
    gender_cd || least(cast(trunc(age / 10) * 10 as integer), 60) as era
from customer
group by customer_id, birth_day
limit 10
 --'||'： 文字列データに任意の文字列を連結したり、複数の文字列データを連結する

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id   birth_day  era
0  CS001105000001  2000-01-14  010
1  CS001112000009  2006-08-24  110
2  CS001112000019  2001-01-31  110
3  CS001112000021  2001-12-15  110
4  CS001112000023  2004-01-26  110
5  CS001112000024  2001-01-16  110
6  CS001112000029  2005-01-24  110
7  CS001112000030  2003-03-02  110
8  CS001113000004  2003-02-22  110
9  CS001113000010  2005-05-09  110

In [ ]:
%%sql
select customer_id, birth_day,
       gender_cd || to_char(least(cast(trunc(age / 10) * 10 as integer), 60),'FM00') as gender_era 
from customer
group by customer_id, birth_day
limit 100

 --'||'： 文字列データに任意の文字列を連結したり、複数の文字列データを連結する

 * postgresql://padwan:***@localhost:5432/dsdojo_db
100 rows affected.

       customer_id   birth_day gender_era
0   CS001105000001  2000-01-14        010
1   CS001112000009  2006-08-24        110
2   CS001112000019  2001-01-31        110
3   CS001112000021  2001-12-15        110
4   CS001112000023  2004-01-26        110
..             ...         ...        ...
95  CS001302000018  1987-11-27        030
96  CS001302000038  1980-05-02        030
97  CS001302000040  1982-09-01        030
98  CS001302000046  1981-05-14        030
99  CS001303000016  1987-05-27        030

[100 rows x 3 columns]

---
> S-058: 顧客データ（customer）の性別コード（gender_cd）をダミー変数化し、顧客ID（customer_id）とともに10件表示せよ。

In [ ]:
%%sql
select customer_id,
case when gender_cd = '0' then '1' else '0' end as gender_cd_0,
case when gender_cd = '1' then '1' else '0' end as gender_cd_1,
case when gender_cd = '9' then '1' else '0' end as gender_cd_9
from customer
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id gender_cd_0 gender_cd_1 gender_cd_9
0  CS021313000114           0           1           0
1  CS037613000071           0           0           1
2  CS031415000172           0           1           0
3  CS028811000001           0           1           0
4  CS001215000145           0           1           0
5  CS020401000016           1           0           0
6  CS015414000103           0           1           0
7  CS029403000008           1           0           0
8  CS015804000004           1           0           0
9  CS033513000180           0           1           0

---
> S-059: レシート明細データ（receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を平均0、標準偏差1に標準化して顧客ID、売上金額合計とともに10件表示せよ。標準化に使用する標準偏差は、分散の平方根、もしくは不偏分散の平方根のどちらでも良いものとする。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [ ]:
%%sql

-- (1)：売上金額の合計を計算＆'Z'で始まる顧客を除外

with sales_amount as(
    select customer_id, sum(amount) as sum_amount
    from receipt
    where customer_id not like ('Z%')
    group by customer_id
),

-- (2)：平均0、分散1に正規化
stats_amount as(
    select AVG(sum_amount) as avg_amount,
           STDDEV_SAMP(sum_amount) as std_amount
    from sales_amount
)

select customer_id, sum_amount, (sum_amount - avg_amount) / std_amount as normal_amount
from sales_amount
cross join stats_amount
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id  sum_amount            normal_amount
0  CS001311000059        2302  -0.09032402671702291270
1  CS004614000122         248  -0.84528400025253654164
2  CS003512000043         298  -0.82690620148098070841
3  CS011615000061         246  -0.84601911220339877497
4  CS029212000033        3604   0.38823385329429098451
5  CS007515000119        7157       1.6941602340010485
6  CS034515000123        3699   0.42315167096024706764
7  CS004315000058         490  -0.75633545419820630882
8  CS026414000014        6671       1.5155280299415258
9  CS001615000099         768  -0.65415489302835587608

---
> S-060: レシート明細データ（receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を最小値0、最大値1に正規化して顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [ ]:
%%sql

-- データ X が与えられたとき、Y=X−xmin / xmax−xminと変換すると、Y の最大値は 1、最小値は 0 になる。

with sales_amount as(
    select customer_id, sum(amount) as sum_amount
    from receipt
    where  customer_id not like 'Z%'
    group by customer_id
),

stats_amount as(
    select 
    max(sum_amount) as max_amount,
    min(sum_amount) as min_amount
    from sales_amount

)

select customer_id,sum_amount,
    1.0 * (sum_amount - min_amount) / (max_amount - min_amount) as scale_amount
from sales_amount
cross join stats_amount
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id  sum_amount            scale_amount
0  CS001311000059        2302  0.09697601668404588113
1  CS004614000122         248  0.00773375043448036149
2  CS003512000043         298  0.00990615224191866528
3  CS011615000061         246  0.00764685436218282934
4  CS029212000033        3604  0.15354535974973931178
5  CS007515000119        7157  0.30791623218630517901
6  CS034515000123        3699  0.15767292318387208898
7  CS004315000058         490  0.01824817518248175182
8  CS026414000014        6671  0.28680048661800486618
9  CS001615000099         768  0.03032672923183872089

---
> S-061: レシート明細データ（receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を常用対数化（底10）して顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [ ]:
%%sql
select customer_id,
       sum(amount),
       log(sum(amount) + 1) as log_amount

from receipt
where customer_id not like 'Z%'
group by customer_id
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id   sum  log_amount
0  CS001311000059  2302    3.362294
1  CS004614000122   248    2.396199
2  CS003512000043   298    2.475671
3  CS011615000061   246    2.392697
4  CS029212000033  3604    3.556905
5  CS007515000119  7157    3.854792
6  CS034515000123  3699    3.568202
7  CS004315000058   490    2.691081
8  CS026414000014  6671    3.824256
9  CS001615000099   768    2.885926

---
> S-062: レシート明細データ（receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、売上金額合計を自然対数化（底e）して顧客ID、売上金額合計とともに10件表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。

In [ ]:
%%sql

select customer_id, sum(amount),ln(sum(amount) + 1) as log_amount
from receipt
where customer_id not like 'Z%'
group by customer_id
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id   sum  log_amount
0  CS001311000059  2302    7.741968
1  CS004614000122   248    5.517453
2  CS003512000043   298    5.700444
3  CS011615000061   246    5.509388
4  CS029212000033  3604    8.190077
5  CS007515000119  7157    8.875986
6  CS034515000123  3699    8.216088
7  CS004315000058   490    6.196444
8  CS026414000014  6671    8.805675
9  CS001615000099   768    6.645091

---
> S-063: 商品データ（product）の単価（unit_price）と原価（unit_cost）から各商品の利益額を算出し、結果を10件表示せよ。

In [ ]:
%%sql
select unit_price , unit_cost, unit_price - unit_cost as unit_profit
from product
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

   unit_price  unit_cost  unit_profit
0         198        149           49
1         218        164           54
2         230        173           57
3         248        186           62
4         268        201           67
5         298        224           74
6         338        254           84
7         420        315          105
8         498        374          124
9         580        435          145

---
> S-064: 商品データ（product）の単価（unit_price）と原価（unit_cost）から、各商品の利益率の全体平均を算出せよ。ただし、単価と原価には欠損が生じていることに注意せよ。

利益率：利益を売上高で割ったもの(%)

$$
\dfrac{利益}{売上高} × 100 = (1 -\dfrac{利益}{売上高}) × 100
$$

In [ ]:
%%sql
select avg((unit_price *1.0 - unit_cost) / unit_price) as unit_profi_rate
from product
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

          unit_profi_rate
0  0.24911389885177001279

---
> S-065: 商品データ（product）の各商品について、利益率が30%となる新たな単価を求めよ。ただし、1円未満は切り捨てること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）には欠損が生じていることに注意せよ。

In [ ]:
%%sql
select *
from product
limit 3

 * postgresql://padwan:***@localhost:5432/dsdojo_db
3 rows affected.

,product_cd,category_major_cd,category_medium_cd,category_small_cd,unit_price,unit_cost
0,P040101001,04,0401,040101,198,149
1,P040101002,04,0401,040101,218,164
2,P040101003,04,0401,040101,230,173

In [ ]:
%%sql
select product_cd, unit_price,unit_cost,
    trunc(unit_cost / 0.7)  as new_price,
    ((trunc(unit_cost / 0.7)  - unit_cost) / trunc(unit_cost / 0.7)) as new_profit 
from product 
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

   product_cd  unit_price  unit_cost new_price              new_profit
0  P040101001         198        149       212  0.29716981132075471698
1  P040101002         218        164       234  0.29914529914529914530
2  P040101003         230        173       247  0.29959514170040485830
3  P040101004         248        186       265  0.29811320754716981132
4  P040101005         268        201       287  0.29965156794425087108
5  P040101006         298        224       320  0.30000000000000000000
6  P040101007         338        254       362  0.29834254143646408840
7  P040101008         420        315       450  0.30000000000000000000
8  P040101009         498        374       534  0.29962546816479400749
9  P040101010         580        435       621  0.29951690821256038647

---
> S-066: 商品データ（product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を丸めること（四捨五入または偶数への丸めで良い）。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）には欠損が生じていることに注意せよ。

In [ ]:
%%sql
select product_cd, unit_price, unit_cost,
    round(unit_cost / 0.7) as new_price,
    ((round(unit_cost / 0.7) - unit_cost) / round(unit_cost / 0.7)) as new_profit
from product
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

   product_cd  unit_price  unit_cost new_price              new_profit
0  P040101001         198        149       213  0.30046948356807511737
1  P040101002         218        164       234  0.29914529914529914530
2  P040101003         230        173       247  0.29959514170040485830
3  P040101004         248        186       266  0.30075187969924812030
4  P040101005         268        201       287  0.29965156794425087108
5  P040101006         298        224       320  0.30000000000000000000
6  P040101007         338        254       363  0.30027548209366391185
7  P040101008         420        315       450  0.30000000000000000000
8  P040101009         498        374       534  0.29962546816479400749
9  P040101010         580        435       621  0.29951690821256038647

---
> S-067: 商品データ（product）の各商品について、利益率が30%となる新たな単価を求めよ。今回は、1円未満を切り上げること。そして結果を10件表示させ、利益率がおよそ30％付近であることを確認せよ。ただし、単価（unit_price）と原価（unit_cost）には欠損が生じていることに注意せよ。

In [ ]:
%%sql
-- CEIL(値)：小数以下を切り上げる

select product_cd, unit_price, unit_cost,
ceil(unit_cost / 0.7) as new_price,
ceil((unit_cost / 0.7) -unit_cost) / CEIL(unit_cost / 0.7) as new_profil
from product
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

   product_cd  unit_price  unit_cost new_price              new_profil
0  P040101001         198        149       213  0.30046948356807511737
1  P040101002         218        164       235  0.30212765957446808511
2  P040101003         230        173       248  0.30241935483870967742
3  P040101004         248        186       266  0.30075187969924812030
4  P040101005         268        201       288  0.30208333333333333333
5  P040101006         298        224       320  0.30000000000000000000
6  P040101007         338        254       363  0.30027548209366391185
7  P040101008         420        315       450  0.30000000000000000000
8  P040101009         498        374       535  0.30093457943925233645
9  P040101010         580        435       622  0.30064308681672025723

---
> S-068: 商品データ（product）の各商品について、消費税率10％の税込み金額を求めよ。1円未満の端数は切り捨てとし、結果を10件表示せよ。ただし、単価（unit_price）には欠損が生じていることに注意せよ。

In [ ]:
%%sql
select product_cd,unit_price,
TRUNC(unit_price * 1.10) as tax_price
from product
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

   product_cd  unit_price tax_price
0  P040101001         198       217
1  P040101002         218       239
2  P040101003         230       253
3  P040101004         248       272
4  P040101005         268       294
5  P040101006         298       327
6  P040101007         338       371
7  P040101008         420       462
8  P040101009         498       547
9  P040101010         580       638

---
> S-069: レシート明細データ（receipt）と商品データ（product）を結合し、顧客毎に全商品の売上金額合計と、カテゴリ大区分コード（category_major_cd）が"07"（瓶詰缶詰）の売上金額合計を計算の上、両者の比率を求めよ。抽出対象はカテゴリ大区分コード"07"（瓶詰缶詰）の売上実績がある顧客のみとし、結果を10件表示せよ。

In [ ]:
%%sql

-- (1)：売上金額を顧客ごとに集計

with amount_all as(
    select customer_id,
        sum(amount) as sum_all
    from receipt
    group by customer_id
    ),

-- (2)：カテゴリが07の売上金額を計算する
amount_07 as(
    select r.customer_id,
           sum(r.amount) as sum_07
    from receipt r
    join product p
    on r.product_cd = p.product_cd
    and p.category_major_cd = '07'
    group by customer_id
)

select amount_all.customer_id,
       sum_all,
       sum_07,
       --割合の計算
       sum_07 * 1.0 / sum_all as sales_rate
from amount_all
join amount_07
on amount_all.customer_id = amount_07.customer_id

limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id  sum_all  sum_07              sales_rate
0  CS001113000004     1298    1298  1.00000000000000000000
1  CS001114000005      626     486  0.77635782747603833866
2  CS001115000010     3044    2694  0.88501971090670170828
3  CS001205000004     1988     346  0.17404426559356136821
4  CS001205000006     3337    2004  0.60053940665268204975
5  CS001212000027      448     200  0.44642857142857142857
6  CS001212000031      296     296  1.00000000000000000000
7  CS001212000046      228     108  0.47368421052631578947
8  CS001212000070      456     308  0.67543859649122807018
9  CS001213000018      243     145  0.59670781893004115226

---
> S-070: レシート明細データ（receipt）の売上日（sales_ymd）に対し、顧客データ（customer）の会員申込日（application_date）からの経過日数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。

In [ ]:
%%sql
with receipt_distinct as(
    select DISTINCT
        customer_id,
        sales_ymd
    from receipt
)

select c.customer_id,
       r.sales_ymd,
       c.application_date,
       -- 売上日から申込日を引いた値から日数の要素を取得する
       extract(day from (to_timestamp(cast(r.sales_ymd as VARCHAR), 'YYYYMMDD')
       - to_timestamp(cast(c.application_date as VARCHAR),'YYYYMMDD'))) as elapsed_day
from receipt_distinct r
join customer c
on r.customer_id = c.customer_id
limit 10

-- EXTRACT(日付要素 FROM 元の日付式)：
-- 日付式から任意の日付要素(YAER, MONTH, DAY, HOUR, MINUTE, SECONDなど)を取得

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id  sales_ymd application_date  elapsed_day
0  CS017515000010   20171117         20150803        837.0
1  CS019515000097   20190630         20141124       1679.0
2  CS008515000005   20170714         20150216        879.0
3  CS026414000097   20170809         20150430        832.0
4  CS034514000008   20181012         20150807       1162.0
5  CS029415000089   20180409         20150723        991.0
6  CS019411000012   20190314         20141213       1552.0
7  CS015614000006   20190802         20150211       1633.0
8  CS007515000053   20170712         20150325        840.0
9  CS024615000041   20170729         20150918        680.0

---
> S-071: レシート明細データ（receipt）の売上日（sales_ymd）に対し、顧客データ（customer）の会員申込日（application_date）からの経過月数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1ヶ月未満は切り捨てること。

In [ ]:
%%sql

WITH receipt_distinct AS (
    SELECT DISTINCT
        customer_id,
        sales_ymd
    FROM
        receipt
),
time_age_tbl AS(
    SELECT
        c.customer_id,
        r.sales_ymd,
        c.application_date,
        AGE(TO_TIMESTAMP(CAST(r.sales_ymd AS VARCHAR), 'YYYYMMDD'),
                    TO_TIMESTAMP(c.application_date, 'YYYYMMDD')) AS time_age
    FROM
        receipt_distinct r
    JOIN
        customer c
    ON
        r.customer_id = c.customer_id
)
SELECT
    customer_id, 
    sales_ymd, 
    application_date,
    EXTRACT(YEAR FROM time_age) * 12 
        + EXTRACT(MONTH FROM time_age) AS elapsed_months
FROM
    time_age_tbl
LIMIT 10
;

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id  sales_ymd application_date  elapsed_months
0  CS017515000010   20171117         20150803            27.0
1  CS019515000097   20190630         20141124            55.0
2  CS008515000005   20170714         20150216            28.0
3  CS026414000097   20170809         20150430            27.0
4  CS034514000008   20181012         20150807            38.0
5  CS029415000089   20180409         20150723            32.0
6  CS019411000012   20190314         20141213            51.0
7  CS015614000006   20190802         20150211            53.0
8  CS007515000053   20170712         20150325            27.0
9  CS024615000041   20170729         20150918            22.0

---
> S-072: レシート明細データ（receipt）の売上日（sales_ymd）に対し、顧客データ（customer）の会員申込日（application_date）からの経過年数を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。1年未満は切り捨てること。

In [ ]:
%%sql

with receipt_distinct as(
    select distinct
        customer_id,
        sales_ymd
    from receipt
)

select c.customer_id,
       r.sales_ymd,
       c.application_date,
       extract(year from age(to_timestamp(cast(r.sales_ymd as varchar), 'YYYYMMDD'),
       to_timestamp(c.application_date,'YYYYMMDD'))) as elapsed_years
from receipt_distinct r
join customer c
on r.customer_id = c.customer_id
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id  sales_ymd application_date  elapsed_years
0  CS017515000010   20171117         20150803            2.0
1  CS019515000097   20190630         20141124            4.0
2  CS008515000005   20170714         20150216            2.0
3  CS026414000097   20170809         20150430            2.0
4  CS034514000008   20181012         20150807            3.0
5  CS029415000089   20180409         20150723            2.0
6  CS019411000012   20190314         20141213            4.0
7  CS015614000006   20190802         20150211            4.0
8  CS007515000053   20170712         20150325            2.0
9  CS024615000041   20170729         20150918            1.0

---
> S-073: レシート明細データ（receipt）の売上日（sales_ymd）に対し、顧客データ（customer）の会員申込日（application_date）からのエポック秒による経過時間を計算し、顧客ID（customer_id）、売上日、会員申込日とともに10件表示せよ（なお、sales_ymdは数値、application_dateは文字列でデータを保持している点に注意）。なお、時間情報は保有していないため各日付は0時0分0秒を表すものとする。

In [ ]:
%%sql
with receipt_distinct as(
    select distinct
    customer_id,
    sales_ymd
    from receipt
)

select
    c.customer_id,
    r.sales_ymd,
    c.application_date,
    extract(epoch from
    to_timestamp(cast(r.sales_ymd as VARCHAR), 'YYYYMMDD') - 
    to_timestamp(c.application_date, 'YYYYMMDD'))  as elaspsed_epoch
from receipt_distinct r
join customer c
on r.customer_id = c.customer_id
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id  sales_ymd application_date  elaspsed_epoch
0  CS017515000010   20171117         20150803      72316800.0
1  CS019515000097   20190630         20141124     145065600.0
2  CS008515000005   20170714         20150216      75945600.0
3  CS026414000097   20170809         20150430      71884800.0
4  CS034514000008   20181012         20150807     100396800.0
5  CS029415000089   20180409         20150723      85622400.0
6  CS019411000012   20190314         20141213     134092800.0
7  CS015614000006   20190802         20150211     141091200.0
8  CS007515000053   20170712         20150325      72576000.0
9  CS024615000041   20170729         20150918      58752000.0

---
> S-074: レシート明細データ（receipt）の売上日（sales_ymd）に対し、当該週の月曜日からの経過日数を計算し、売上日、直前の月曜日付とともに10件表示せよ（sales_ymdは数値でデータを保持している点に注意）。

In [ ]:
%%sql

with elapsed_day_tbl as(
    select
        to_date(cast(sales_ymd as VARCHAR),'YYYYMMDD') as sales_ymd,
        extract(dow from(to_date(cast(sales_ymd as VARCHAR),'YYYYMMDD') -1)) as elapsed_days
    from receipt
)
select sales_ymd,
       elapsed_days,
       sales_ymd - cast(elapsed_days as integer) as monday
from elapsed_day_tbl
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

    sales_ymd  elapsed_days      monday
0  2018-11-03           5.0  2018-10-29
1  2018-11-18           6.0  2018-11-12
2  2017-07-12           2.0  2017-07-10
3  2019-02-05           1.0  2019-02-04
4  2018-08-21           1.0  2018-08-20
5  2019-06-05           2.0  2019-06-03
6  2018-12-05           2.0  2018-12-03
7  2019-09-22           6.0  2019-09-16
8  2017-05-04           3.0  2017-05-01
9  2019-10-10           3.0  2019-10-07

---
> S-075: 顧客データ（customer）からランダムに1%のデータを抽出し、先頭から10件表示せよ。

In [ ]:
%%sql
select*
from customer
where random() <= 0.01
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
0,CS011312000159,薬師丸 早紀,1,女性,1980-04-09,38,211-0034,神奈川県川崎市中原区井田中ノ町**********,S14011,20170824,0-00000000-0
1,CS008413000302,池谷 由樹,1,女性,1969-09-27,49,157-0067,東京都世田谷区喜多見**********,S13008,20180813,0-00000000-0
2,CS016615000116,本上 恵梨香,1,女性,1956-01-27,63,184-0013,東京都小金井市前原町**********,S13016,20150504,8-20080729-3
3,CS024515000216,菊地 美佐子,1,女性,1975-01-27,44,134-0084,東京都江戸川区東葛西**********,S14024,20150327,D-20100501-C
4,CS034513000043,合田 佳乃,1,女性,1959-11-14,59,216-0001,神奈川県川崎市宮前区野川**********,S14034,20141008,6-20091220-8
5,CS003415000274,長尾 まみ,1,女性,1977-09-23,41,182-0022,東京都調布市国領町**********,S13003,20160411,9-20100817-8
6,CS037603000046,角谷 博明,0,男性,1949-01-03,70,135-0021,東京都江東区白河**********,S13037,20150630,0-00000000-0
7,CS014413000002,荻原 さゆり,1,女性,1970-03-20,49,264-0032,千葉県千葉市若葉区みつわ台**********,S12014,20150517,A-20080414-4
8,CS003413000491,大後 綾,1,女性,1973-04-08,45,201-0012,東京都狛江市中和泉**********,S13003,20160728,0-00000000-0
9,CS027415000072,村井 美智子,1,女性,1970-10-13,48,251-0016,神奈川県藤沢市弥勒寺**********,S14027,20150809,9-20090319-9

---
> S-076: 顧客データ（customer）から性別コード（gender_cd）の割合に基づきランダムに10%のデータを層化抽出し、性別コードごとに件数を集計せよ。

In [ ]:
%%sql
--例1
with customer_random as(
    select customer_id, g_cd, cnt
    from (
        select
            array_agg(customer order by random()) as customer_r,
            gender_cd as g_cd,
            count(1) as cnt
        from customer
        group by gender_cd
    ) sample, UNNEST(customer_r)
),
customer_rownum as(
    select *,
    ROW_NUMBER() over(partition by g_cd) as rn
    from customer_random 
)

select g_cd,count(1)
from customer_rownum
where rn <= cnt * 0.1
group by g_cd

-- ARRAY_AGG：指定した行を集約して配列にする
-- UNNEST(配列)：配列を一列の配列に変える

 * postgresql://padwan:***@localhost:5432/dsdojo_db
3 rows affected.

  g_cd  count
0    0    298
1    1   1791
2    9    107

In [ ]:
%%sql
--例2

with customer_random as(
    select *,
        row_number() over(partition by gender_cd order by random()) as rn,
        count(1) over(partition by gender_cd) cnt
    from customer
)
select gender_cd,
count(1) as customer_num
from customer_random
where
rn <= cnt * 0.1
group by
gender_cd

 * postgresql://padwan:***@localhost:5432/dsdojo_db
3 rows affected.

  gender_cd  customer_num
0         9           107
1         0           298
2         1          1791

---
> S-077: レシート明細データ（receipt）の売上金額を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。なお、外れ値は売上金額合計を対数化したうえで平均と標準偏差を計算し、その平均から3σを超えて離れたものとする（自然対数と常用対数のどちらでも可）。結果は10件表示せよ。

In [ ]:
%%sql

with sales_amount as(
    select customer_id,
           sum(amount) as sum_amount,
           LN(sum(amount) + 0.5) as log_sum_amount
    from receipt
    group by customer_id
)

select
     customer_id,
     sum_amount,
     log_sum_amount
from sales_amount
cross join (
    select avg(log_sum_amount) as avg_amount,
           STDDEV_POP(log_sum_amount) as std_amount
    from sales_amount
) as stats_amount
where
    abs(log_sum_amount - avg_amount) / std_amount > 3
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

      customer_id  sum_amount      log_sum_amount
0  ZZ000000000000    12395003  16.332804005823312

---
> S-078: レシート明細データ（receipt）の売上金額（amount）を顧客単位に合計し、合計した売上金額の外れ値を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、ここでは外れ値を第1四分位と第3四分位の差であるIQRを用いて、「第1四分位数-1.5×IQR」を下回るもの、または「第3四分位数+1.5×IQR」を超えるものとする。結果は10件表示せよ。

In [ ]:
%%sql
with sales_amount as(
    select customer_id,
        sum(amount) as sum_amount
    from receipt
    where customer_id not like 'Z%'
    group by customer_id
)

select customer_id, sum_amount
from sales_amount
cross join(
    select
     percentile_cont(0.25) within group(order by sum_amount) as amount_25per,
     percentile_cont(0.75) within group(order by sum_amount) as amount_75per
    from sales_amount
) stats_amount
where sum_amount < amount_25per -(amount_75per - amount_25per) + 1.5
   or amount_75per + (amount_75per -amount_25per) * 1.5 < sum_amount
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id  sum_amount
0  CS013415000226        8362
1  CS011415000041        9454
2  CS014514000004        8872
3  CS021514000008       12839
4  CS014515000007        9763
5  CS040415000220       10158
6  CS028415000161        8465
7  CS034515000173       10074
8  CS022515000065       12903
9  CS007514000094       15735

---
> S-079: 商品データ（product）の各項目に対し、欠損数を確認せよ。

In [ ]:
%%sql
-- 各行についてNULLに1のラベルを付けて、NULLの個数をカウントする

select
sum(case when product_cd is null then 1 else 0 end) as product_cd,
sum(case when category_major_cd is null then 1 else 0 end) as category_major_cd,
sum(case when category_medium_cd is null then 1 else 0 end) as category_medium_cd,
sum(case when category_small_cd is null then 1 else 0 end) as category_small_cd,
sum(case when unit_price is null then 1 else 0 end) as unit_price,
sum(case when unit_cost is null then 1 else 0 end) as unit_cost

from product
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

,product_cd,category_major_cd,category_medium_cd,category_small_cd,unit_price,unit_cost
0,0,0,0,0,7,7

---
> S-080: 商品データ（product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たな商品データを作成せよ。なお、削除前後の件数を表示させ、079で確認した件数だけ減少していることも確認すること。

In [ ]:
%%sql
DROP TABLE IF EXISTS product_1;
create table product_1 as(
    select *
    from product
    where unit_price is not null or unit_cost is not null
);

 * postgresql://padwan:***@localhost:5432/dsdojo_db
Done.
10023 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
select '削除前',count(1) from product

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

  ?column?  count
0      削除前  10030

In [ ]:
%%sql
select '削除後',count(1) from product_1

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

  ?column?  count
0      削除後  10023

---
> S-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たな商品データを作成せよ。なお、平均値については1円未満を丸めること（四捨五入または偶数への丸めで良い）。補完実施後、各項目について欠損が生じていないことも確認すること。

In [ ]:
%%sql
DROP TABLE IF EXISTS product_2;
create table product_2 as(
    select
         product_cd,
         category_major_cd,
         category_medium_cd,
         category_small_cd,
         COALESCE(unit_price, unit_avg) as unit_price,
         COALESCE(unit_cost, cost_avg) as unit_cost
    from product
    cross join(
        select round(avg(unit_price)) as unit_avg,
               round(avg(unit_cost)) as cost_avg
        from product
    ) stats_product
)  
--COALESCE(カラム, 値)：カラム中のNULLの位置を指定した値で補完する
--FROM テーブル1 CROSS JOIN テーブル2：
-- すべてのテーブルの行とすべてのテーブルの列で組み合わせたテーブルを作成する

 * postgresql://padwan:***@localhost:5432/dsdojo_db
Done.
10030 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql

select
    sum(case when unit_price is null then 1 else 0 end) as unit_price,
    sum(case when unit_cost is null then 1 else 0 end) as unit_cost
from product_2
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

   unit_price  unit_cost
0           0          0

---
> S-082: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの中央値で補完した新たな商品データを作成せよ。なお、中央値については1円未満を丸めること（四捨五入または偶数への丸めで良い）。補完実施後、各項目について欠損が生じていないことも確認すること。

In [ ]:
%%sql
drop table if exists product_3;
create table product_3 as(
    select
        product_cd,
        category_major_cd,
        category_medium_cd,
        category_small_cd,
        COALESCE(unit_price, unit_med) as unit_price,
        COALESCE(unit_cost, cost_med) as unit_cost
    from product
    cross join(
        select 
            round(PERCENTILE_CONT(0.5) within group(order by unit_price)) as unit_med,
            round(PERCENTILE_CONT(0.5) within group(order by unit_cost)) as cost_med
        from product
    )stats_product
)

 * postgresql://padwan:***@localhost:5432/dsdojo_db
Done.
10030 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql

select sum(case when unit_price is null then 1 else 0 end) as unit_price,
       sum(case when unit_cost is null then 1 else 0 end) as unit_cost

from product_3
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

   unit_price  unit_cost
0           0          0

---
> S-083: 単価（unit_price）と原価（unit_cost）の欠損値について、各商品のカテゴリ小区分コード（category_small_cd）ごとに算出した中央値で補完した新たな商品データを作成せよ。なお、中央値については1円未満を丸めること（四捨五入または偶数への丸めで良い）。補完実施後、各項目について欠損が生じていないことも確認すること。

In [ ]:
%%sql

drop table if exists product_4;

create table product_4 as (
    with category_median as(
        select
            category_small_cd,
            round(PERCENTILE_CONT(0.5) within group(order by unit_price)) as unit_med,
            round(PERCENTILE_CONT(0.5) within group(order by unit_cost)) as cost_med
        from product
        group by category_small_cd
)
    select
        product_cd,
        category_major_cd,
        category_medium_cd,
        category_small_cd,
        COALESCE(unit_price ,unit_med) as unit_price,
        COALESCE(unit_cost, cost_med) as unit_cost
    from product
    join category_median
    using(category_small_cd)
    )

 * postgresql://padwan:***@localhost:5432/dsdojo_db
Done.
10030 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
select 
     sum(case when unit_price is null then 1 else 0 end) as unit_price,
     sum(case when unit_cost is null then 1 else 0 end) as unit_cost

from product_4
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

   unit_price  unit_cost
0           0          0

---
> S-084: 顧客データ（customer）の全顧客に対して全期間の売上金額に占める2019年売上金額の割合を計算し、新たなデータを作成せよ。ただし、売上実績がない場合は0として扱うこと。そして計算した割合が0超のものを抽出し、結果を10件表示せよ。また、作成したデータに欠損が存在しないことを確認せよ。

In [ ]:
%%sql
drop table if exists sales_rate;

create table sales_rate as(
    with sales_amount_2019 as(
        select customer_id,sum(amount) as sum_amount_2019
        from receipt
        where sales_ymd between 20190101 and 20191231
        group by customer_id
    ),
sales_amount_all as(
    select customer_id, sum(amount) as sum_amount_all
    from receipt
    group by customer_id
)

select 
    a.customer_id,
    COALESCE(b.sum_amount_2019,0) as sales_amount_2019,
    COALESCE(c.sum_amount_all,0) as sales_amount_all,
    case COALESCE(c.sum_amount_all,0)
    when 0 then 0
    else COALESCE(b.sum_amount_2019,0) * 1.0 / c.sum_amount_all
    end sales_rate

from customer a
left join sales_amount_2019 b
on a.customer_id = b.customer_id
left join sales_amount_all c
on a.customer_id = c.customer_id

)

 * postgresql://padwan:***@localhost:5432/dsdojo_db
Done.
21971 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
select*
from sales_rate
where sales_rate > 0
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id  sales_amount_2019  sales_amount_all              sales_rate
0  CS031415000172               2971              5088  0.58392295597484276730
1  CS015414000103                874              3122  0.27994875080076873799
2  CS011215000048                248              3444  0.07200929152148664344
3  CS029415000023               3767              5167  0.72904973872653377201
4  CS035415000029               5823              7504  0.77598614072494669510
5  CS023513000066                208               771  0.26977950713359273671
6  CS035513000134                463              1565  0.29584664536741214058
7  CS001515000263                216               216  1.00000000000000000000
8  CS006415000279                229               229  1.00000000000000000000
9  CS031415000106                215              7741  0.02777418938121689704

In [ ]:
%%sql
select
sum(case when customer_id is null then 1 else 0 end) as unit_price,
sum(case when sales_amount_2019 is null then 1 else 0 end) as unit_price_1,
sum(case when sales_amount_all is null then 1 else 0 end) as unit_cost,
sum(case when sales_rate is null then 1 else 0 end) as unit_cost_1
from sales_rate

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

   unit_price  unit_price_1  unit_cost  unit_cost_1
0           0             0          0            0

---
> S-085: 顧客データ（customer）の全顧客に対し、郵便番号（postal_cd）を用いてジオコードデータ（geocode）を紐付け、新たな顧客データを作成せよ。ただし、1つの郵便番号（postal_cd）に複数の経度（longitude）、緯度（latitude）情報が紐づく場合は、経度（longitude）、緯度（latitude）の平均値を算出して使用すること。また、作成結果を確認するために結果を10件表示せよ。

In [ ]:
%%sql
select*
from geocode
limit 3

 * postgresql://padwan:***@localhost:5432/dsdojo_db
3 rows affected.

,postal_cd,prefecture,city,town,street,address,full_address,longitude,latitude
0,060-0000,北海道,札幌市中央区,None,None,None,北海道札幌市中央区,141.34103,43.05513
1,064-0941,北海道,札幌市中央区,旭ケ丘,None,None,北海道札幌市中央区旭ケ丘,141.31972,43.04223
2,060-0042,北海道,札幌市中央区,大通西,None,１丁目,北海道札幌市中央区大通西１丁目,141.35637,43.06102

In [ ]:
%%sql
drop table if exists customer_1;

create table customer_1 as(
    with geocode_avg as(
        select 
            postal_cd,
            avg(longitude) as m_longitude,
            avg(latitude) as m_latitude
        from geocode
        group by postal_cd
    )
select *
from customer c
join geocode_avg g
using(postal_cd)

)

 * postgresql://padwan:***@localhost:5432/dsdojo_db
Done.
21971 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
select*
from customer_1
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

,postal_cd,customer_id,customer_name,gender_cd,gender,birth_day,age,address,application_store_cd,application_date,status_cd,m_longitude,m_latitude
0,151-0053,CS031415000172,宇多田 貴美子,1,女性,1976-10-04,42,東京都渋谷区代々木**********,S13031,20150529,D-20100325-C,139.6896500000000000,35.6737400000000000
1,245-0016,CS028811000001,堀井 かおり,1,女性,1933-03-27,86,神奈川県横浜市泉区和泉町**********,S14028,20160115,0-00000000-0,139.4836000000000000,35.3912500000000000
2,144-0055,CS001215000145,田崎 美紀,1,女性,1995-03-29,24,東京都大田区仲六郷**********,S13001,20170605,6-20090929-2,139.7077500000000000,35.5408400000000000
3,174-0065,CS020401000016,宮下 達士,0,男性,1974-09-15,44,東京都板橋区若木**********,S13020,20150225,0-00000000-0,139.6724500000000000,35.7707300000000000
4,136-0073,CS015414000103,奥野 陽子,1,女性,1977-08-09,41,東京都江東区北砂**********,S13015,20150722,B-20100609-B,139.8360100000000000,35.6781800000000000
5,136-0073,CS015804000004,松谷 米蔵,0,男性,1931-05-02,87,東京都江東区北砂**********,S13015,20150607,0-00000000-0,139.8360100000000000,35.6781800000000000
6,276-0022,CS007403000016,依田 満,0,男性,1975-08-18,43,千葉県八千代市上高野**********,S12007,20150914,0-00000000-0,140.1326000000000000,35.7326400000000000
7,154-0015,CS035614000014,板倉 菜々美,1,女性,1954-07-16,64,東京都世田谷区桜新町**********,S13035,20150804,0-00000000-0,139.6429700000000000,35.6288900000000000
8,223-0062,CS011215000048,芦田 沙耶,1,女性,1992-02-01,27,神奈川県横浜市港北区日吉本町**********,S14011,20150228,C-20100421-9,139.6294600000000000,35.5537000000000000
9,226-0021,CS040412000191,川井 郁恵,1,女性,1977-01-05,42,神奈川県横浜市緑区北八朔町**********,S14040,20151101,1-20091025-4,139.5396400000000000,35.5276300000000000

---
> S-086: 085で作成した緯度経度つき顧客データに対し、会員申込店舗コード（application_store_cd）をキーに店舗データ（store）と結合せよ。そして申込み店舗の緯度（latitude）・経度情報（longitude)と顧客住所（address）の緯度・経度を用いて申込み店舗と顧客住所の距離（単位：km）を求め、顧客ID（customer_id）、顧客住所（address）、店舗住所（address）とともに表示せよ。計算式は以下の簡易式で良いものとするが、その他精度の高い方式を利用したライブラリを利用してもかまわない。結果は10件表示せよ。

$$
\mbox{緯度（ラジアン）}：\phi \\
\mbox{経度（ラジアン）}：\lambda \\
\mbox{距離}L = 6371 * \arccos(\sin \phi_1 * \sin \phi_2
+ \cos \phi_1 * \cos \phi_2 * \cos(\lambda_1 − \lambda_2))
$$

In [ ]:
%%sql
select*
from store
limit 2

 * postgresql://padwan:***@localhost:5432/dsdojo_db
2 rows affected.

,store_cd,store_name,prefecture_cd,prefecture,address,address_kana,tel_no,longitude,latitude,floor_area
0,S12014,千草台店,12,千葉県,千葉県千葉市稲毛区千草台一丁目,チバケンチバシイナゲクチグサダイイッチョウメ,043-123-4003,140.118,35.63559,1698.0
1,S13002,国分寺店,13,東京都,東京都国分寺市本多二丁目,トウキョウトコクブンジシホンダニチョウメ,042-123-4008,139.4802,35.70566,1735.0

In [ ]:
%%sql
select*
from customer
limit 2

 * postgresql://padwan:***@localhost:5432/dsdojo_db
2 rows affected.

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
0,CS021313000114,大野 あや子,1,女性,1981-04-29,37,259-1113,神奈川県伊勢原市粟窪**********,S14021,20150905,0-00000000-0
1,CS037613000071,六角 雅彦,9,不明,1952-04-01,66,136-0076,東京都江東区南砂**********,S13037,20150414,0-00000000-0

In [ ]:
%%sql
select
    c.customer_id ,
    c.address as customer_address,
    s.address as store_address,
    6371 * ACOS(
        SIN(RADIANS(c.m_latitude)) 
        * SIN(RADIANS(s.latitude))
        + COS(RADIANS(c.m_latitude)) 
        * COS(RADIANS(s.latitude)) 
        * COS(RADIANS(c.m_longitude) - RADIANS(s.longitude))       
    ) as distance
from customer_1 c
join store s
on c.application_store_cd = s.store_cd
limit 10

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10 rows affected.

      customer_id          customer_address        store_address  distance
0  CS031415000172       東京都渋谷区代々木**********          東京都渋谷区初台二丁目  0.411733
1  CS028811000001    神奈川県横浜市泉区和泉町**********       神奈川県横浜市瀬谷区二ツ橋町  8.065196
2  CS001215000145       東京都大田区仲六郷**********         東京都大田区仲六郷二丁目  1.268421
3  CS020401000016        東京都板橋区若木**********         東京都北区十条仲原三丁目  4.185905
4  CS015414000103        東京都江東区北砂**********          東京都江東区南砂二丁目  1.449673
5  CS015804000004        東京都江東区北砂**********          東京都江東区南砂二丁目  1.449673
6  CS007403000016      千葉県八千代市上高野**********            千葉県佐倉市上志津  1.920803
7  CS035614000014      東京都世田谷区桜新町**********         東京都世田谷区用賀四丁目  1.021468
8  CS011215000048  神奈川県横浜市港北区日吉本町**********    神奈川県横浜市港北区日吉本町四丁目  0.818277
9  CS040412000191   神奈川県横浜市緑区北八朔町**********  神奈川県横浜市緑区長津田みなみ台五丁目  3.664123

In [ ]:
%%sql
select*
from receipt
limit 1

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

,sales_ymd,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount
0,20181103,1541203200,S14006,112,1,CS006214000001,P070305012,1,158

---
> S-087: 顧客データ（customer）では、異なる店舗での申込みなどにより同一顧客が複数登録されている。名前（customer_name）と郵便番号（postal_cd）が同じ顧客は同一顧客とみなして1顧客1レコードとなるように名寄せした名寄顧客データを作成し、顧客データの件数、名寄顧客データの件数、重複数を算出せよ。ただし、同一顧客に対しては売上金額合計が最も高いものを残し、売上金額合計が同一もしくは売上実績がない顧客については顧客ID（customer_id）の番号が小さいものを残すこととする。

In [ ]:
%%sql

drop table if exists customer_u;
create table customer_u as(
    with sales_amount as(
        select
         c.customer_id ,
         c.customer_name ,
         c.postal_cd,
         COALESCE(sum(r.amount) , 0) as sum_amount
        
        from customer c
        left join receipt r
        on c.customer_id = r.customer_id
        group by c.customer_id , c.customer_name , c.postal_cd
    ),
sales_ranking as(
    select *,
        ROW_NUMBER() over(
            PARTITION BY customer_name, postal_cd
                ORDER BY sum_amount desc, customer_id
      ) as ranking
    from sales_amount
)
select c.*
from customer c
join sales_ranking r
on c.customer_id = r.customer_id and r.ranking = 1

)

 * postgresql://padwan:***@localhost:5432/dsdojo_db
Done.
21941 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
select
    customer_cnt,
    customer_u_cnt,
    customer_cnt - customer_u_cnt as diff
    
from (
    select count(1) as customer_cnt
    from customer
)customer
cross join(
    select count(1) as customer_u_cnt
    from customer_u
)customer_u

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

   customer_cnt  customer_u_cnt  diff
0         21971           21941    30

---
> S-088: 087で作成したデータを元に、顧客データに統合名寄IDを付与したデータを作成せよ。ただし、統合名寄IDは以下の仕様で付与するものとする。
>
> - 重複していない顧客：顧客ID（customer_id）を設定
> - 重複している顧客：前設問で抽出したレコードの顧客IDを設定
> 
> 顧客IDのユニーク件数と、統合名寄IDのユニーク件数の差も確認すること。

In [ ]:
%%sql

DROP TABLE IF EXISTS customer_n;
CREATE TABLE customer_n AS (
    SELECT 
        c.*, 
        u.customer_id AS integration_id
    FROM 
        customer c
    JOIN
        customer_u u
    ON c.customer_name = u.customer_name
        AND c.postal_cd = u.postal_cd
);

 * postgresql://padwan:***@localhost:5432/dsdojo_db
Done.
21971 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
select count(1) as ID数の差
from customer_n
where customer_id != integration_id

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

   id数の差
0     30

---
> S-089: 売上実績がある顧客を、予測モデル構築のため学習用データとテスト用データに分割したい。それぞれ8:2の割合でランダムにデータを分割せよ。

In [ ]:
%%sql

select setseed(0.1);

create temp table if not exists sales_customer as(
    select customer_id, ROW_NUMBER() over(order by random()) as row
    from customer
    join receipt
    using(customer_id)
    group by customer_id
    having sum(amount) >0
);

drop table if exists customer_train;
create table customer_train as(
    select customer.*
    from sales_customer
    join customer
    using(customer_id)
    where sales_customer.row <= (select count(1) from sales_customer) * 0.8
);

drop table if exists customer_test;
create table customer_test as(
    select customer.*
    from sales_customer
    join customer
    using(customer_id)
    except
    select*
    from customer_train
)

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.
Done.
Done.
6644 rows affected.
Done.
1662 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
select
    train_cnt * 1.0 / all_cnt as 学習データの割合,
    test_cnt * 1.0 / all_cnt as テストデータの割合
from
    (select count(1) as all_cnt from sales_customer) all_data
cross join
    (select count(1) as train_cnt from customer_train) train_data
cross join
    (select count(1) as test_cnt from customer_test) test_data

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.

                 学習データの割合               テストデータの割合
0  0.79990368408379484710  0.20009631591620515290

---
> S-090: レシート明細データ（receipt）は2017年1月1日〜2019年10月31日までのデータを有している。売上金額（amount）を月次で集計し、学習用に12ヶ月、テスト用に6ヶ月の時系列モデル構築用データを3セット作成せよ。

In [ ]:
%%sql
-- 下準備として年月ごとに売上金額を集計し、連番を付与
create temp table if not exists ts_amount as(
    select
     SUBSTR(cast(sales_ymd as varchar) , 1, 6) as sales_ym,
     sum(amount) as sum_amount,
     row_number() over(
               order by SUBSTR(cast(sales_ymd as varchar), 1,6)) as rn
    from receipt
    group by sales_ymd
);

drop table if exists series_data_1;
create table series_data_1 as(
    with lag_amount as(
        select
         sales_ym,
         sum_amount,
        LAG(rn,0) over (order by rn) as rn
        from ts_amount
    )
select 
    sales_ym,
    sum_amount,
    case when rn <= 12 then 0 when 12 < rn then 1 end as test_flg
from lag_amount
where rn between 1 and 18
);

drop table if exists series_data_2;
create table series_data_2 as(
    with lag_amount as(
        select sales_ym,
        sum_amount,
        LAG(rn, 6) over (order by rn) as rn
        from ts_amount
    )
select sales_ym,
       sum_amount,
       case when rn <= 12 then 0 when 12 < rn then 1 end as test_flg
from lag_amount
where rn between 1 and 18
);

drop table if exists series_data_3;
create table series_data_3 as(
    with lag_amount as(
        select sales_ym,
               sum_amount,
               LAG(rn, 12) over(order by rn) as rn
        from ts_amount
    )

select sales_ym,
       sum_amount,
       case when rn <= 12 then 0 when 12 < rn then 1 end as test_flg
from lag_amount
where rn between 1 and 18
);

 * postgresql://padwan:***@localhost:5432/dsdojo_db
Done.
Done.
18 rows affected.
Done.
18 rows affected.
Done.
18 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
select*
from series_data_1

 * postgresql://padwan:***@localhost:5432/dsdojo_db
18 rows affected.

   sales_ym  sum_amount  test_flg
0    201701       37830         0
1    201701       28004         0
2    201701       23415         0
3    201701       36165         0
4    201701       38148         0
5    201701       26708         0
6    201701       23982         0
7    201701       27503         0
8    201701       34075         0
9    201701       26718         0
10   201701       26326         0
11   201701       33723         0
12   201701       36709         1
13   201701       34032         1
14   201701       24287         1
15   201701       31567         1
16   201701       24165         1
17   201701       38056         1

---
> S-091: 顧客データ（customer）の各顧客に対し、売上実績がある顧客数と売上実績がない顧客数が1:1となるようにアンダーサンプリングで抽出せよ。

In [ ]:
%%sql
select setseed(0.1);
create temp table if not exists down_sampling as (
    with pre_table_1 as(
        select c.*,COALESCE(r.sum_amount, 0) as sum_amount
        from customer c
        left join(
            select customer_id,
                   sum(amount) as sum_amount
            from receipt
            group by customer_id
        ) r
        on c.customer_id = r.customer_id
    )

,pre_table_2 as(
    select *,
        case when sum_amount > 0 then 1 else 0 end as is_buy_flag,
        case when sum_amount = 0 then 1 else 0 end as is_not_buy_flag
    from pre_table_1
)

,pre_table_3 as(
    select *,
        row_number() over(partition by is_buy_flag order by random())
    from pre_table_2
    cross join
        (select sum(is_buy_flag) as buying from pre_table_2) as t1
    cross join
        (select sum(is_not_buy_flag) as not_buying from pre_table_2) as t2
        
)
select*
from pre_table_3
where row_number <= buying and row_number <= not_buying)

 * postgresql://padwan:***@localhost:5432/dsdojo_db
1 rows affected.
16612 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
select is_buy_flag,count(1)
from down_sampling
group by is_buy_flag

 * postgresql://padwan:***@localhost:5432/dsdojo_db
2 rows affected.

   is_buy_flag  count
0            0   8306
1            1   8306

---
> S-092: 顧客データ（customer）の性別について、第三正規形へと正規化せよ。

In [ ]:
%%sql
drop table if exists customer_std;
create table customer_std as(
    select
        customer_id,
        customer_name,
        gender_cd,
        birth_day,
        age,
        postal_cd,
        application_store_cd,
        application_date,
        status_cd
    from customer
);

drop table if exists gender_std;
create table gender_std as(
    select distinct
        gender_cd, gender
    from customer
)

 * postgresql://padwan:***@localhost:5432/dsdojo_db
Done.
21971 rows affected.
Done.
3 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
select*
from customer_std
limit 3

 * postgresql://padwan:***@localhost:5432/dsdojo_db
3 rows affected.

,customer_id,customer_name,gender_cd,birth_day,age,postal_cd,application_store_cd,application_date,status_cd
0,CS021313000114,大野 あや子,1,1981-04-29,37,259-1113,S14021,20150905,0-00000000-0
1,CS037613000071,六角 雅彦,9,1952-04-01,66,136-0076,S13037,20150414,0-00000000-0
2,CS031415000172,宇多田 貴美子,1,1976-10-04,42,151-0053,S13031,20150529,D-20100325-C

In [ ]:
%%sql
select*
from gender_std
limit 3

 * postgresql://padwan:***@localhost:5432/dsdojo_db
3 rows affected.

  gender_cd gender
0         0     男性
1         9     不明
2         1     女性

---
> S-093: 商品データ（product）では各カテゴリのコード値だけを保有し、カテゴリ名は保有していない。カテゴリデータ（category）と組み合わせて非正規化し、カテゴリ名を保有した新たな商品データを作成せよ。

In [ ]:
%%sql
drop table if exists product_full;
create table product_full as (
    select
        p.product_cd,
        p.category_major_cd,
        c.category_major_name,
        p.category_medium_cd,
        c.category_medium_name,
        p.category_small_cd,
        c.category_small_name,
        p.unit_price,
        p.unit_cost
    from product p
    join category c
    using(category_small_cd)
)

 * postgresql://padwan:***@localhost:5432/dsdojo_db
Done.
10030 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
select*
from product_full
limit 3

 * postgresql://padwan:***@localhost:5432/dsdojo_db
3 rows affected.

,product_cd,category_major_cd,category_major_name,category_medium_cd,category_medium_name,category_small_cd,category_small_name,unit_price,unit_cost
0,P040101001,04,惣菜,0401,御飯類,040101,弁当類,198,149
1,P040101002,04,惣菜,0401,御飯類,040101,弁当類,218,164
2,P040101003,04,惣菜,0401,御飯類,040101,弁当類,230,173

---
> S-094: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|有り|UTF-8|
> 
> ファイル出力先のパスは以下のようにすること（COPYコマンドの権限は付与済み）。
> 
> |出力先|
> |:--:|
> |/tmp/data|
> 
> ※"/tmp/data"を指定することでJupyterの"/work/data"と共有されるようになっている。

In [ ]:
%%sql
copy product_full to '/tmp/data/S_product_full_UTF-8_header.csv'
with CSV HEADER ENCODING 'UTF-8'

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10030 rows affected.

Empty DataFrame
Columns: []
Index: []

---
> S-095: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|有り|CP932|
> 
> PostgreSQLではShift_JISを指定することでCP932相当となる。ファイル出力先のパスは以下のようにすること（COPYコマンドの権限は付与済み）。
> 
> |出力先|
> |:--:|
> |/tmp/data|
> 
> ※"/tmp/data"を指定することでJupyterの"/work/data"と共有されるようになっている。

In [ ]:
%%sql
copy product_full to '/tmp/data/S_product_full_SJIS_header.csv'
with CSV HEADER ENCODING 'SJIS'

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10030 rows affected.

Empty DataFrame
Columns: []
Index: []

---
> S-096: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|無し|UTF-8|
> 
> ファイル出力先のパスは以下のようにすること（COPYコマンドの権限は付与済み）。
> 
> |出力先|
> |:--:|
> |/tmp/data|
> 
> ※"/tmp/data"を指定することでJupyterの"/work/data"と共有されるようになっている。

In [ ]:
%%sql

copy product_full to '/tmp/data/S_product_full_UTF-8_noh.csv'
with CSV ENCODING 'UTF-8'

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10030 rows affected.

Empty DataFrame
Columns: []
Index: []

---
> S-097: 094で作成した以下形式のファイルを読み込み、データを3件を表示させて正しく取り込まれていることを確認せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|有り|UTF-8|

In [ ]:
%%sql
drop table if exists product_full;
create table product_full(
       product_cd VARCHAR(10),
       category_major_cd VARCHAR(2),
       category_major_name VARCHAR(20),
       category_medium_cd VARCHAR(4),
       category_medium_name VARCHAR(20),
       category_small_cd VARCHAR(6),
       category_small_name VARCHAR(20),
       unit_price INTEGER,
       unit_cost INTEGER
)

 * postgresql://padwan:***@localhost:5432/dsdojo_db
Done.
Done.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
copy product_full from '/tmp/data/S_product_full_UTF-8_header.csv'
with CSV HEADER ENCODING 'UTF-8'

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10030 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
select*
from product_full limit 3

 * postgresql://padwan:***@localhost:5432/dsdojo_db
3 rows affected.

,product_cd,category_major_cd,category_major_name,category_medium_cd,category_medium_name,category_small_cd,category_small_name,unit_price,unit_cost
0,P040101001,04,惣菜,0401,御飯類,040101,弁当類,198,149
1,P040101002,04,惣菜,0401,御飯類,040101,弁当類,218,164
2,P040101003,04,惣菜,0401,御飯類,040101,弁当類,230,173

---
> S-098: 096で作成した以下形式のファイルを読み込み、データを3件を表示させて正しく取り込まれていることを確認せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |CSV（カンマ区切り）|ヘッダ無し|UTF-8|

In [ ]:
%%sql

DROP TABLE IF EXISTS product_full;
CREATE TABLE product_full (
        product_cd           VARCHAR(10),
        category_major_cd    VARCHAR(2),
        category_major_name  VARCHAR(20),
        category_medium_cd   VARCHAR(4),
        category_medium_name VARCHAR(20),
        category_small_cd    VARCHAR(6),
        category_small_name  VARCHAR(20),
        unit_price           INTEGER,
        unit_cost            INTEGER
);

 * postgresql://padwan:***@localhost:5432/dsdojo_db
Done.
Done.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql

COPY product_full FROM '/tmp/data/S_product_full_UTF-8_noh.csv' 
WITH CSV ENCODING 'UTF-8';

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10030 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql
select*
from product_full
limit 3

 * postgresql://padwan:***@localhost:5432/dsdojo_db
3 rows affected.

,product_cd,category_major_cd,category_major_name,category_medium_cd,category_medium_name,category_small_cd,category_small_name,unit_price,unit_cost
0,P040101001,04,惣菜,0401,御飯類,040101,弁当類,198,149
1,P040101002,04,惣菜,0401,御飯類,040101,弁当類,218,164
2,P040101003,04,惣菜,0401,御飯類,040101,弁当類,230,173

---
> S-099: 093で作成したカテゴリ名付き商品データを以下の仕様でファイル出力せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |TSV（タブ区切り）|有り|UTF-8|
> 
> ファイル出力先のパスは以下のようにすること（COPYコマンドの権限は付与済み）。
> 
> |出力先|
> |:--:|
> |/tmp/data|
> 
> ※"/tmp/data"を指定することでJupyterの"/work/data"と共有されるようになっている。

In [ ]:
%%sql

COPY product_full TO '/tmp/data/S_product_full_UTF-8_header.tsv' 
WITH CSV HEADER DELIMITER E'\t' ENCODING 'UTF-8';

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10030 rows affected.

Empty DataFrame
Columns: []
Index: []

---
> S-100: 099で作成した以下形式のファイルを読み込み、データを3件を表示させて正しく取り込まれていることを確認せよ。
> 
> |ファイル形式|ヘッダ有無|文字エンコーディング|
> |:--:|:--:|:--:|
> |TSV（タブ区切り）|有り|UTF-8|

In [ ]:
%%sql

DROP TABLE IF EXISTS product_full;
CREATE TABLE product_full (
        product_cd           VARCHAR(10),
        category_major_cd    VARCHAR(2),
        category_major_name  VARCHAR(20),
        category_medium_cd   VARCHAR(4),
        category_medium_name VARCHAR(20),
        category_small_cd    VARCHAR(6),
        category_small_name  VARCHAR(20),
        unit_price           INTEGER,
        unit_cost            INTEGER
);

 * postgresql://padwan:***@localhost:5432/dsdojo_db
Done.
Done.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql

COPY product_full FROM '/tmp/data/S_product_full_UTF-8_header.tsv' 
WITH CSV HEADER DELIMITER E'\t' ENCODING 'UTF-8';

 * postgresql://padwan:***@localhost:5432/dsdojo_db
10030 rows affected.

Empty DataFrame
Columns: []
Index: []

In [ ]:
%%sql

SELECT * FROM product_full LIMIT 3;

 * postgresql://padwan:***@localhost:5432/dsdojo_db
3 rows affected.

,product_cd,category_major_cd,category_major_name,category_medium_cd,category_medium_name,category_small_cd,category_small_name,unit_price,unit_cost
0,P040101001,04,惣菜,0401,御飯類,040101,弁当類,198,149
1,P040101002,04,惣菜,0401,御飯類,040101,弁当類,218,164
2,P040101003,04,惣菜,0401,御飯類,040101,弁当類,230,173

# これで１００本終わりです。おつかれさまでした！