<a href="https://colab.research.google.com/github/hasune613/hello-world/blob/main/XGBoost_%2B_KFold.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q semopy

     |████████████████████████████████| 1.6 MB 5.4 MB/s
  Building wheel for semopy (setup.py) ... done

In [ ]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler,StandardScaler,RobustScaler
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import StratifiedKFold

from warnings import filterwarnings
filterwarnings('ignore')

import os

In [ ]:
train = pd.read_csv('/content/drive/MyDrive/kaggle/Tabular Playground Series sep_2021/train.csv')
test = pd.read_csv('/content/drive/MyDrive/kaggle/Tabular Playground Series sep_2021/test.csv')
submission = pd.read_csv('/content/drive/MyDrive/kaggle/Tabular Playground Series sep_2021/sample_solution.csv')

In [ ]:
# train.head(50)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 957919 entries, 0 to 957918
Columns: 120 entries, id to claim
dtypes: float64(118), int64(2)
memory usage: 877.0 MB

In [ ]:
train.describe()

                  id             f1  ...           f118          claim
count  957919.000000  942672.000000  ...  942707.000000  957919.000000
mean   478959.000000       0.090201  ...       0.559267       0.498492
std    276527.540591       0.043564  ...       0.408426       0.499998
min         0.000000      -0.149910  ...      -0.151240       0.000000
25%    239479.500000       0.070227  ...       0.276560       0.000000
50%    478959.000000       0.090135  ...       0.473440       0.000000
75%    718438.500000       0.116500  ...       0.746210       1.000000
max    957918.000000       0.415170  ...       2.743600       1.000000

[8 rows x 120 columns]

In [ ]:
train.isnull().sum()

id           0
f1       15247
f2       15190
f3       15491
f4       15560
         ...
f115     15559
f116     15589
f117     15407
f118     15212
claim        0
Length: 120, dtype: int64

In [ ]:
test.head(3)

       id       f1       f2       f3  ...    f115          f116    f117     f118
0  957919  0.16585  0.48705  1295.00  ...  1.1940  1.980400e+14  2017.1  0.46357
1  957920  0.12965  0.37348  1763.00  ...  1.1507  4.388000e+16  6638.9  0.28125
2  957921  0.12019  0.44521   736.26  ...  1.1548  1.718100e+14  5844.0  0.13797

[3 rows x 119 columns]

In [ ]:
test.isnull().sum()

id         0
f1      7812
f2      7891
f3      7795
f4      7733
        ...
f114    7942
f115    7977
f116    8083
f117    7763
f118    7885
Length: 119, dtype: int64

In [ ]:
submission.head(3)

       id  claim
0  957919    0.5
1  957920    0.5
2  957921    0.5

In [ ]:
train.shape,test.shape,submission.shape

((957919, 120), (493474, 119), (493474, 2))

In [ ]:
train.columns

Index(['id', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9',
       ...
       'f110', 'f111', 'f112', 'f113', 'f114', 'f115', 'f116', 'f117', 'f118',
       'claim'],
      dtype='object', length=120)

In [ ]:
test.columns

Index(['id', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9',
       ...
       'f109', 'f110', 'f111', 'f112', 'f113', 'f114', 'f115', 'f116', 'f117',
       'f118'],
      dtype='object', length=119)

In [ ]:
submission.columns

Index(['id', 'claim'], dtype='object')


### Feature Engineering

In [ ]:
features =[x for x in train.columns.values if x[0]=='f']

In [ ]:
train['n_missing'] = train[features].isna().sum(axis=1)
test['n_missing'] = test[features].isna().sum(axis=1)

train['abs_sum'] = train[features].abs().sum(axis = 1)
test['abs_sum'] = test[features].abs().sum(axis=1)

train['sem'] = train[features].sem(axis=1)
test['sem'] = test[features].sem(axis=1)

train['std'] = train[features].std(axis = 1)
test['std'] = test[features].std(axis = 1)

train['avg'] = train[features].mean(axis = 1)
test['avg'] = test[features].mean(axis = 1)

train['max'] = train[features].max(axis= 1)
test['max'] = test[features].max(axis = 1)

train['min'] = train[features].min(axis= 1)
test['min'] = train[features].min(axis = 1)

In [ ]:
train[['abs_sum']]

             abs_sum
0       1.294749e+16
1       4.579784e+16
2       4.439307e+14
3       2.125939e+15
4       1.264657e+16
...              ...
957914  5.616945e+16
957915  1.831924e+17
957916  2.219898e+16
957917  7.790588e+16
957918  4.616928e+16

[957919 rows x 1 columns]

In [ ]:
train[['n_missing']]

        n_missing
0               1
1               0
2               5
3               2
4               8
...           ...
957914          0
957915          4
957916          0
957917          1
957918          4

[957919 rows x 1 columns]

In [ ]:
imputer = SimpleImputer(strategy = 'median')
for col in features:
    train[col] = imputer.fit_transform(np.array(train[col]).reshape(-1,1))
    test[col] = imputer.fit_transform(np.array(test[col]).reshape(-1,1))

In [ ]:
r_scaler = RobustScaler()
for col in features:
    train[col] = r_scaler.fit_transform(np.array(train[col]).reshape(-1,1))
    test[col] = r_scaler.fit_transform(np.array(test[col]).reshape(-1,1))

In [ ]:
X = train.drop(['id', 'claim'],axis =1)
y = train['claim']

In [ ]:
X.shape, y.shape

((957919, 125), (957919,))

In [ ]:
y.head(10)

0    1
1    0
2    1
3    1
4    1
5    0
6    0
7    1
8    0
9    0
Name: claim, dtype: int64

In [ ]:
# XGBClassifier().get_params()

xgb_params = {
    'objective': 'binary:logistic',
    'eval_metric':'auc',
    'n_estimators': 100,
    'max_depth': 3,
    'gamma': 0.2465,
    'subsample': 0.6423,
    'colsample_bytree': 0.775,
    'colsample_bylevel': 0.868,
    'min_child_weight': 366,
    'reg_lambda': 0.05,
    'reg_alpha': 10,
    'verbosity': 1,
    'random_state': 42,
}

In [ ]:
model = XGBClassifier(**xgb_params)
model

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=0.868,
              colsample_bynode=1, colsample_bytree=0.775, eval_metric='auc',
              gamma=0.2465, learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=366, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=42,
              reg_alpha=10, reg_lambda=0.05, scale_pos_weight=1, seed=None,
              silent=None, subsample=0.6423, verbosity=1)

In [ ]:
X_test = test.drop(['id'],axis =1)
X_test.head()

         f1        f2        f3  ...           avg           max           min
0  1.682833  0.573550  0.004415  ...  5.210804e+14  6.046200e+16 -3.756600e+01
1  0.877852 -0.090379  0.125237  ...  4.350229e+14  4.388000e+16 -5.675800e+01
2  0.667489  0.328954 -0.139834  ...  5.633213e+12  3.977800e+14 -4.453500e+13
3 -0.804203  0.041039 -0.072741  ...  2.186071e+15  2.138800e+17 -9.299200e+13
4 -0.227396 -2.314184  2.399957  ...  1.828228e+15  2.151300e+17 -8.991300e+12

[5 rows x 125 columns]

In [ ]:
import numpy as np

In [ ]:
splits = 5
skf = StratifiedKFold(n_splits=splits, shuffle=True,random_state=42)

oof_preds = np.zeros(X.shape[0])
preds = 0
model_fi = 0
total_mean_auc = 0

for num,(train_idx, valid_idx) in enumerate(skf.split(X,y)):
    X_train, X_valid = X.loc[train_idx], X.loc[valid_idx]
    y_train, y_valid = y.loc[train_idx], y.loc[valid_idx]
    model.fit(X_train,y_train,
              verbose=False,
              eval_set = [(X_train,y_train),(X_valid,y_valid)],
              eval_metric = 'auc',
              early_stopping_rounds = 100,
              )
    preds += model.predict_proba(X_test)[:,1] /splits
    model_fi += model.feature_importances_/splits

    oof_preds[valid_idx] = model.predict_proba(X_valid)[:,1]
    fold_auc = roc_auc_score(y_valid, oof_preds[valid_idx])
    print(f'Fold{num} ROC AUC :{fold_auc}' )
    total_mean_auc += fold_auc / splits

print(f'\nOverall ROC AUC : {total_mean_auc}')

Fold0 ROC AUC :0.809339829756367
Fold1 ROC AUC :0.8109876662183785
Fold2 ROC AUC :0.8096587551517194
Fold3 ROC AUC :0.8099258039376239
Fold4 ROC AUC :0.8088875744629842

Overall ROC AUC : 0.8097599259054146

In [ ]:
importance = pd.DataFrame(model.feature_importances_,index = X.columns, columns=['importance'])
importance = importance.sort_values('importance', ascending = False)
importance

           importance
n_missing    0.803657
f38          0.010054
f34          0.006983
f4           0.004779
f3           0.004584
...               ...
f93          0.000000
f94          0.000000
f17          0.000000
f98          0.000000
f63          0.000000

[125 rows x 1 columns]

In [ ]:
submission.claim = preds
submission.head()

       id     claim
0  957919  0.597741
1  957920  0.127836
2  957921  0.594556
3  957922  0.149554
4  957923  0.141015

In [ ]:
submission.to_csv('submission.csv', index = False)